<a href="https://colab.research.google.com/github/Silvio-0-1/Python-Training/blob/main/17-12-2025/pyspark_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [548]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("SQL").getOrCreate()

In [549]:
from pyspark.sql.functions import col, sum, avg, max, min, count, rank, round, first, last

**Domain:** Multi-Store Retail Sales Analytics

In [550]:
sales_data = [
("T001","North","Delhi","Store-01","Laptop","2024-01-01",75000),
("T002","North","Delhi","Store-01","Mobile","2024-01-02",32000),
("T003","North","Chandigarh","Store-02","Tablet","2024-01-03",26000),
("T004","South","Bangalore","Store-03","Laptop","2024-01-01",78000),
("T005","South","Chennai","Store-04","Mobile","2024-01-02",30000),
("T006","South","Bangalore","Store-03","Tablet","2024-01-03",24000),
("T007","East","Kolkata","Store-05","Laptop","2024-01-01",72000),
("T008","East","Kolkata","Store-05","Mobile","2024-01-02",28000),
("T009","East","Patna","Store-06","Tablet","2024-01-03",23000),
("T010","West","Mumbai","Store-07","Laptop","2024-01-01",80000),
("T011","West","Mumbai","Store-07","Mobile","2024-01-02",35000),
("T012","West","Pune","Store-08","Tablet","2024-01-03",27000),
("T013","North","Delhi","Store-01","Laptop","2024-01-04",76000),
("T014","South","Chennai","Store-04","Laptop","2024-01-04",79000),
("T015","East","Patna","Store-06","Mobile","2024-01-04",29000),
("T016","West","Pune","Store-08","Laptop","2024-01-04",77000),
("T017","North","Chandigarh","Store-02","Mobile","2024-01-05",31000),
("T018","South","Bangalore","Store-03","Mobile","2024-01-05",34000),
("T019","East","Kolkata","Store-05","Tablet","2024-01-05",25000),
("T020","West","Mumbai","Store-07","Tablet","2024-01-05",29000),
("T021","North","Delhi","Store-01","Tablet","2024-01-06",28000),
("T022","South","Chennai","Store-04","Tablet","2024-01-06",26000),
("T023","East","Patna","Store-06","Laptop","2024-01-06",74000),
("T024","West","Pune","Store-08","Mobile","2024-01-06",33000)
]


columns = [
"txn_id","region","city","store_id","product","sale_date","amount"
]


df = spark.createDataFrame(sales_data, columns)
df.show()
df.printSchema()

+------+------+----------+--------+-------+----------+------+
|txn_id|region|      city|store_id|product| sale_date|amount|
+------+------+----------+--------+-------+----------+------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|
|  T012|  West|      Pune|Store-08| Tablet|2024-01-03| 27000|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|
|  T016|  West|      Pune|Store-08| Laptop|2024-01-04| 77000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|
+------+------+----------+--------+-------+----------+------+
only showing top 20 rows
root
 |-- txn_id: string (nullable = true)
 |-- region: string (nullable = true)
 |-- city: string (nullable = true)
 |-- store_id: string (nullable = true)
 |-- product: string (nullable = true)
 |-- sale_date: string (nullable = true)
 |-- amount: long (nullable = true)

**SET 1: SELECT OPERATIONS**

**Exercises:**

1. Select only *txn_id* ,*region* , *product*, and *amount*.
2. Rename *amount* to *revenue*.
3. Create a derived column *amount_in_thousands*.
4. Select distinct combinations of *region* and *product*.
5. Select all columns but exclude *store_id*.
6. Create a new column *sale_year* extracted from *sale_date*.
7. Reorder columns in a business-friendly format.

In [551]:
# 1. Select only txn_id, region, product, and amount
df.select("txn_id", "region", "product", "amount").show()

+------+------+-------+------+
|txn_id|region|product|amount|
+------+------+-------+------+
|  T001| North| Laptop| 75000|
|  T002| North| Mobile| 32000|
|  T003| North| Tablet| 26000|
|  T004| South| Laptop| 78000|
|  T005| South| Mobile| 30000|
|  T006| South| Tablet| 24000|
|  T007|  East| Laptop| 72000|
|  T008|  East| Mobile| 28000|
|  T009|  East| Tablet| 23000|
|  T010|  West| Laptop| 80000|
|  T011|  West| Mobile| 35000|
|  T012|  West| Tablet| 27000|
|  T013| North| Laptop| 76000|
|  T014| South| Laptop| 79000|
|  T015|  East| Mobile| 29000|
|  T016|  West| Laptop| 77000|
|  T017| North| Mobile| 31000|
|  T018| South| Mobile| 34000|
|  T019|  East| Tablet| 25000|
|  T020|  West| Tablet| 29000|
+------+------+-------+------+
only showing top 20 rows

In [552]:
# 2. Rename amount to revenue
df.withColumnRenamed("amount", "revenue").show()

+------+------+----------+--------+-------+----------+-------+
|txn_id|region|      city|store_id|product| sale_date|revenue|
+------+------+----------+--------+-------+----------+-------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01|  75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02|  32000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03|  26000|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01|  78000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02|  30000|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03|  24000|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01|  72000|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02|  28000|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03|  23000|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01|  80000|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02|  35000|
|  T012|  West|      Pune|Store-08| Tablet|2024-01-03|  27000|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04|  76000|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04|  79000|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04|  29000|
|  T016|  West|      Pune|Store-08| Laptop|2024-01-04|  77000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05|  31000|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05|  34000|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05|  25000|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05|  29000|
+------+------+----------+--------+-------+----------+-------+
only showing top 20 rows

In [553]:
# 3. Create a derived column amount_in_thousands
df.withColumn("amount_in_thousands", col("amount")/1000).show()

+------+------+----------+--------+-------+----------+------+-------------------+
|txn_id|region|      city|store_id|product| sale_date|amount|amount_in_thousands|
+------+------+----------+--------+-------+----------+------+-------------------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|               75.0|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|               32.0|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|               26.0|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|               78.0|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|               30.0|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|               24.0|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|               72.0|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|               28.0|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|               23.0|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|               80.0|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|               35.0|
|  T012|  West|      Pune|Store-08| Tablet|2024-01-03| 27000|               27.0|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|               76.0|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|               79.0|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|               29.0|
|  T016|  West|      Pune|Store-08| Laptop|2024-01-04| 77000|               77.0|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|               31.0|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|               34.0|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|               25.0|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|               29.0|
+------+------+----------+--------+-------+----------+------+-------------------+
only showing top 20 rows

In [554]:
# 4. Select distinct combinations of region and product
df.select("region", "product").distinct().show()

+------+-------+
|region|product|
+------+-------+
| North| Laptop|
| North| Tablet|
|  East| Tablet|
|  East| Laptop|
| South| Tablet|
| North| Mobile|
|  West| Tablet|
|  East| Mobile|
| South| Mobile|
| South| Laptop|
|  West| Mobile|
|  West| Laptop|
+------+-------+

In [555]:
# 5. Select all columns but exclude store_id
df.select([col for col in df.columns if col != "store_id"]).show()

+------+------+----------+-------+----------+------+
|txn_id|region|      city|product| sale_date|amount|
+------+------+----------+-------+----------+------+
|  T001| North|     Delhi| Laptop|2024-01-01| 75000|
|  T002| North|     Delhi| Mobile|2024-01-02| 32000|
|  T003| North|Chandigarh| Tablet|2024-01-03| 26000|
|  T004| South| Bangalore| Laptop|2024-01-01| 78000|
|  T005| South|   Chennai| Mobile|2024-01-02| 30000|
|  T006| South| Bangalore| Tablet|2024-01-03| 24000|
|  T007|  East|   Kolkata| Laptop|2024-01-01| 72000|
|  T008|  East|   Kolkata| Mobile|2024-01-02| 28000|
|  T009|  East|     Patna| Tablet|2024-01-03| 23000|
|  T010|  West|    Mumbai| Laptop|2024-01-01| 80000|
|  T011|  West|    Mumbai| Mobile|2024-01-02| 35000|
|  T012|  West|      Pune| Tablet|2024-01-03| 27000|
|  T013| North|     Delhi| Laptop|2024-01-04| 76000|
|  T014| South|   Chennai| Laptop|2024-01-04| 79000|
|  T015|  East|     Patna| Mobile|2024-01-04| 29000|
|  T016|  West|      Pune| Laptop|2024-01-04| 77000|
|  T017| North|Chandigarh| Mobile|2024-01-05| 31000|
|  T018| South| Bangalore| Mobile|2024-01-05| 34000|
|  T019|  East|   Kolkata| Tablet|2024-01-05| 25000|
|  T020|  West|    Mumbai| Tablet|2024-01-05| 29000|
+------+------+----------+-------+----------+------+
only showing top 20 rows

In [556]:
# 6. Create a new column sale_year extracted from sale_date
df.withColumn("sale_year", col("sale_date")[0:4]).show()

+------+------+----------+--------+-------+----------+------+---------+
|txn_id|region|      city|store_id|product| sale_date|amount|sale_year|
+------+------+----------+--------+-------+----------+------+---------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|     2024|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|     2024|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|     2024|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|     2024|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|     2024|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|     2024|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|     2024|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|     2024|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|     2024|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|     2024|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|     2024|
|  T012|  West|      Pune|Store-08| Tablet|2024-01-03| 27000|     2024|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|     2024|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|     2024|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|     2024|
|  T016|  West|      Pune|Store-08| Laptop|2024-01-04| 77000|     2024|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|     2024|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|     2024|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|     2024|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|     2024|
+------+------+----------+--------+-------+----------+------+---------+
only showing top 20 rows

In [557]:
df.withColumnRenamed("amount", "revenue")\
  .select("txn_id", "sale_date", "region", "city", "product", "revenue")\
  .withColumn("amount_in_thousands", col("revenue") / 1000)\
  .show()

+------+----------+------+----------+-------+-------+-------------------+
|txn_id| sale_date|region|      city|product|revenue|amount_in_thousands|
+------+----------+------+----------+-------+-------+-------------------+
|  T001|2024-01-01| North|     Delhi| Laptop|  75000|               75.0|
|  T002|2024-01-02| North|     Delhi| Mobile|  32000|               32.0|
|  T003|2024-01-03| North|Chandigarh| Tablet|  26000|               26.0|
|  T004|2024-01-01| South| Bangalore| Laptop|  78000|               78.0|
|  T005|2024-01-02| South|   Chennai| Mobile|  30000|               30.0|
|  T006|2024-01-03| South| Bangalore| Tablet|  24000|               24.0|
|  T007|2024-01-01|  East|   Kolkata| Laptop|  72000|               72.0|
|  T008|2024-01-02|  East|   Kolkata| Mobile|  28000|               28.0|
|  T009|2024-01-03|  East|     Patna| Tablet|  23000|               23.0|
|  T010|2024-01-01|  West|    Mumbai| Laptop|  80000|               80.0|
|  T011|2024-01-02|  West|    Mumbai| Mobile|  35000|               35.0|
|  T012|2024-01-03|  West|      Pune| Tablet|  27000|               27.0|
|  T013|2024-01-04| North|     Delhi| Laptop|  76000|               76.0|
|  T014|2024-01-04| South|   Chennai| Laptop|  79000|               79.0|
|  T015|2024-01-04|  East|     Patna| Mobile|  29000|               29.0|
|  T016|2024-01-04|  West|      Pune| Laptop|  77000|               77.0|
|  T017|2024-01-05| North|Chandigarh| Mobile|  31000|               31.0|
|  T018|2024-01-05| South| Bangalore| Mobile|  34000|               34.0|
|  T019|2024-01-05|  East|   Kolkata| Tablet|  25000|               25.0|
|  T020|2024-01-05|  West|    Mumbai| Tablet|  29000|               29.0|
+------+----------+------+----------+-------+-------+-------------------+
only showing top 20 rows

**SET 2: FILTER OPERATIONS**

**Exercises:**

1. Filter transactions where amount > 50000.
2. Filter only Laptop sales.
3. Filter sales from North and South regions.
4. Filter sales between 25000 and 75000.
5. Filter transactions from Delhi stores only.
6. Apply multiple filters using both filter and where.
7. Change the order of filters and compare explain(True).
8. Identify which filters Spark pushes down.

In [558]:
# 1. Filter transactions where amount > 50000
df.filter(col("amount") > 50000).show()

+------+------+---------+--------+-------+----------+------+
|txn_id|region|     city|store_id|product| sale_date|amount|
+------+------+---------+--------+-------+----------+------+
|  T001| North|    Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T004| South|Bangalore|Store-03| Laptop|2024-01-01| 78000|
|  T007|  East|  Kolkata|Store-05| Laptop|2024-01-01| 72000|
|  T010|  West|   Mumbai|Store-07| Laptop|2024-01-01| 80000|
|  T013| North|    Delhi|Store-01| Laptop|2024-01-04| 76000|
|  T014| South|  Chennai|Store-04| Laptop|2024-01-04| 79000|
|  T016|  West|     Pune|Store-08| Laptop|2024-01-04| 77000|
|  T023|  East|    Patna|Store-06| Laptop|2024-01-06| 74000|
+------+------+---------+--------+-------+----------+------+

In [559]:
# 2. Filter only Laptop sales
df.filter(col("product") == "Laptop").show()

+------+------+---------+--------+-------+----------+------+
|txn_id|region|     city|store_id|product| sale_date|amount|
+------+------+---------+--------+-------+----------+------+
|  T001| North|    Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T004| South|Bangalore|Store-03| Laptop|2024-01-01| 78000|
|  T007|  East|  Kolkata|Store-05| Laptop|2024-01-01| 72000|
|  T010|  West|   Mumbai|Store-07| Laptop|2024-01-01| 80000|
|  T013| North|    Delhi|Store-01| Laptop|2024-01-04| 76000|
|  T014| South|  Chennai|Store-04| Laptop|2024-01-04| 79000|
|  T016|  West|     Pune|Store-08| Laptop|2024-01-04| 77000|
|  T023|  East|    Patna|Store-06| Laptop|2024-01-06| 74000|
+------+------+---------+--------+-------+----------+------+

In [560]:
# 3. Filter sales from North and South regions
df.filter(((col("region") == "North")) | (col("region") == "South")).show()

+------+------+----------+--------+-------+----------+------+
|txn_id|region|      city|store_id|product| sale_date|amount|
+------+------+----------+--------+-------+----------+------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|
+------+------+----------+--------+-------+----------+------+

In [561]:
# 4. Filter sales between 25000 and 75000
df.filter((col("amount") >= 25000) & (col("amount") <= 75000)).show()

+------+------+----------+--------+-------+----------+------+
|txn_id|region|      city|store_id|product| sale_date|amount|
+------+------+----------+--------+-------+----------+------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|
|  T012|  West|      Pune|Store-08| Tablet|2024-01-03| 27000|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|
|  T024|  West|      Pune|Store-08| Mobile|2024-01-06| 33000|
+------+------+----------+--------+-------+----------+------+

In [562]:
# 5. Filter transactions from Delhi stores only
df.filter(col("city") == "Delhi").show()

+------+------+-----+--------+-------+----------+------+
|txn_id|region| city|store_id|product| sale_date|amount|
+------+------+-----+--------+-------+----------+------+
|  T001| North|Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T002| North|Delhi|Store-01| Mobile|2024-01-02| 32000|
|  T013| North|Delhi|Store-01| Laptop|2024-01-04| 76000|
|  T021| North|Delhi|Store-01| Tablet|2024-01-06| 28000|
+------+------+-----+--------+-------+----------+------+

In [563]:
# 6. Apply multiple filters using both "filter" and "where"
filtered_1 = df.filter(col("region") == "North").where(col("amount") > 30000)
filtered_1.show()
filtered_1.explain(True)

+------+------+----------+--------+-------+----------+------+
|txn_id|region|      city|store_id|product| sale_date|amount|
+------+------+----------+--------+-------+----------+------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|
+------+------+----------+--------+-------+----------+------+

== Parsed Logical Plan ==
'Filter '`>`('amount, 30000)
+- Filter (region#9517 = North)
   +- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Analyzed Logical Plan ==
txn_id: string, region: string, city: string, store_id: string, product: string, sale_date: string, amount: bigint
Filter (amount#9522L > cast(30000 as bigint))
+- Filter (region#9517 = North)
   +- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Optimized Logical Plan ==
Filter ((isnotnull(region#9517) AND isnotnull(amount#9522L)) AND ((region#9517 = North) AND (amount#9522L > 30000)))
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Physical Plan ==
*(1) Filter ((isnotnull(region#9517) AND isnotnull(amount#9522L)) AND ((region#9517 = North) AND (amount#9522L > 30000)))
+- *(1) Scan ExistingRDD[txn_id#9516,region#9517,city#9518,store_id#9519,product#9520,sale_date#9521,amount#9522L]

In [564]:
# 7. Change the order of filters
filtered_2 = df.where(col("region") == "North").filter(col("amount") > 30000)
filtered_2.show()
filtered_2.explain(True)

+------+------+----------+--------+-------+----------+------+
|txn_id|region|      city|store_id|product| sale_date|amount|
+------+------+----------+--------+-------+----------+------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|
+------+------+----------+--------+-------+----------+------+

== Parsed Logical Plan ==
'Filter '`>`('amount, 30000)
+- Filter (region#9517 = North)
   +- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Analyzed Logical Plan ==
txn_id: string, region: string, city: string, store_id: string, product: string, sale_date: string, amount: bigint
Filter (amount#9522L > cast(30000 as bigint))
+- Filter (region#9517 = North)
   +- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Optimized Logical Plan ==
Filter ((isnotnull(region#9517) AND isnotnull(amount#9522L)) AND ((region#9517 = North) AND (amount#9522L > 30000)))
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Physical Plan ==
*(1) Filter ((isnotnull(region#9517) AND isnotnull(amount#9522L)) AND ((region#9517 = North) AND (amount#9522L > 30000)))
+- *(1) Scan ExistingRDD[txn_id#9516,region#9517,city#9518,store_id#9519,product#9520,sale_date#9521,amount#9522L]

In [565]:
# 8. Identify which filters Spark pushes down
"""Spark's Catalyst optimizer will reorder and combine filter operations to optimize performance.
Regardless of the order you specify, Spark typically pushes down filters as close to the data source as possible.
You should see `PushedFilters` in the `FileScan` or `Scan` operation of the physical plan,
indicating that Spark applies the filters during the data reading phase,
reducing the amount of data processed later.
"""

"Spark's Catalyst optimizer will reorder and combine filter operations to optimize performance. \nRegardless of the order you specify, Spark typically pushes down filters as close to the data source as possible. \nYou should see `PushedFilters` in the `FileScan` or `Scan` operation of the physical plan, \nindicating that Spark applies the filters during the data reading phase, \nreducing the amount of data processed later.\n"

**SET 3: GROUPBY & AGGREGATE**

**Exercises:**

1. Total sales amount per region
2. Average sales amount per product
3. Maximum sale per city

4. Minimum sale per store
5. Count of transactions per region
6. Total revenue per store
7. Region-wise product sales count
8. Average transaction value per city
9. Identify regions with total sales above a threshold
10. Use explain(True) and identify shuffle stages

In [566]:
# 1. Total sales amount per region
df.groupBy("region").agg(sum(col("amount"))).show()

+------+-----------+
|region|sum(amount)|
+------+-----------+
| South|     271000|
|  East|     251000|
|  West|     281000|
| North|     268000|
+------+-----------+

In [567]:
# 2. Average sales amount per product
df.groupBy("product").agg(avg(col("amount"))).show()

+-------+-----------+
|product|avg(amount)|
+-------+-----------+
| Laptop|    76375.0|
| Mobile|    31500.0|
| Tablet|    26000.0|
+-------+-----------+

In [568]:
# 3. Maximum sale per city
df.groupBy("city").agg(max(col("amount"))).show()

+----------+-----------+
|      city|max(amount)|
+----------+-----------+
| Bangalore|      78000|
|     Patna|      74000|
|   Chennai|      79000|
|    Mumbai|      80000|
|   Kolkata|      72000|
|      Pune|      77000|
|     Delhi|      76000|
|Chandigarh|      31000|
+----------+-----------+

In [569]:
# 4. Minimum sale per store
df.groupBy("store_id").agg(min(col("amount"))).show()

+--------+-----------+
|store_id|min(amount)|
+--------+-----------+
|Store-05|      25000|
|Store-06|      23000|
|Store-03|      24000|
|Store-01|      28000|
|Store-04|      26000|
|Store-07|      29000|
|Store-08|      27000|
|Store-02|      26000|
+--------+-----------+

In [570]:
# 5. Count of transactions per region
df.groupBy("region").agg(count(col("txn_id"))).show()

+------+-------------+
|region|count(txn_id)|
+------+-------------+
| South|            6|
|  East|            6|
|  West|            6|
| North|            6|
+------+-------------+

In [571]:
# 6. Total revenue per store
df.groupBy("store_id").agg(sum(col("amount"))).show()

+--------+-----------+
|store_id|sum(amount)|
+--------+-----------+
|Store-05|     125000|
|Store-06|     126000|
|Store-03|     136000|
|Store-01|     211000|
|Store-04|     135000|
|Store-07|     144000|
|Store-08|     137000|
|Store-02|      57000|
+--------+-----------+

In [572]:
# 7. Region-wise product sales count
df.groupBy("region", "product").agg(count(col("txn_id"))).show()

+------+-------+-------------+
|region|product|count(txn_id)|
+------+-------+-------------+
| North| Laptop|            2|
| North| Tablet|            2|
|  East| Tablet|            2|
|  East| Laptop|            2|
| South| Tablet|            2|
| North| Mobile|            2|
|  West| Tablet|            2|
|  East| Mobile|            2|
| South| Mobile|            2|
| South| Laptop|            2|
|  West| Mobile|            2|
|  West| Laptop|            2|
+------+-------+-------------+

In [573]:
# 8. Average transaction value per city
df.groupBy("city").agg(avg(col("amount"))).show()

+----------+------------------+
|      city|       avg(amount)|
+----------+------------------+
| Bangalore|45333.333333333336|
|     Patna|           42000.0|
|   Chennai|           45000.0|
|    Mumbai|           48000.0|
|   Kolkata|41666.666666666664|
|      Pune|45666.666666666664|
|     Delhi|           52750.0|
|Chandigarh|           28500.0|
+----------+------------------+

In [574]:
# 9. Identify regions with total sales above a threshold
average = df.agg(avg(col("amount"))).collect()[0][0]

df.groupBy("region").agg(sum(col("amount"))).filter(col("sum(amount)") > average).show()

+------+-----------+
|region|sum(amount)|
+------+-----------+
| South|     271000|
|  East|     251000|
|  West|     281000|
| North|     268000|
+------+-----------+

In [575]:
# 10. Use explain(True) and identify shuffle stages
df.groupBy("region").agg(sum(col("amount"))).explain(True)

"""Observation: In the physical plan above, look for the 'Exchange' operator.
This operator indicates a shuffle stage where data is redistributed across the cluster based on the grouping keys ('region' in this case).
Shuffles are expensive operations in Spark as they involve network I/O, serialization/deserialization, and disk I/O.
"""

== Parsed Logical Plan ==
'Aggregate ['region], ['region, unresolvedalias('sum('amount))]
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Analyzed Logical Plan ==
region: string, sum(amount): bigint
Aggregate [region#9517], [region#9517, sum(amount#9522L) AS sum(amount)#10040L]
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Optimized Logical Plan ==
Aggregate [region#9517], [region#9517, sum(amount#9522L) AS sum(amount)#10040L]
+- Project [region#9517, amount#9522L]
   +- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[region#9517], functions=[sum(amount#9522L)], output=[region#9517, sum(amount)#10040L])
   +- Exchange hashpartitioning(region#9517, 200), ENSURE_REQUIREMENTS, [plan_id=15500]
      +- HashAggregate(keys=[region#9517], functions=[partial_sum(amount#9522L)], output=[region#9517, sum#10042L])
         +- Project [region#9517, amount#9522L]
            +- Scan ExistingRDD[txn_id#9516,region#9517,city#9518,store_id#9519,product#9520,sale_date#9521,amount#9522L]

"Observation: In the physical plan above, look for the 'Exchange' operator. \nThis operator indicates a shuffle stage where data is redistributed across the cluster based on the grouping keys ('region' in this case). \nShuffles are expensive operations in Spark as they involve network I/O, serialization/deserialization, and disk I/O.\n"

**SET 4: MULTI-DIMENSIONAL AGGREGATION**

**Exercises:**

1. Region + Product wise total sales
2. City + Store wise average sales
3. Region + City wise transaction count
4. Product + Store wise max sale
5. Identify top-selling product per region using aggregation only

In [576]:
# 1. Region + Product wise total sales
df.groupBy("region", "product").agg(sum(col("amount"))).show()

+------+-------+-----------+
|region|product|sum(amount)|
+------+-------+-----------+
| North| Laptop|     151000|
| North| Tablet|      54000|
|  East| Tablet|      48000|
|  East| Laptop|     146000|
| South| Tablet|      50000|
| North| Mobile|      63000|
|  West| Tablet|      56000|
|  East| Mobile|      57000|
| South| Mobile|      64000|
| South| Laptop|     157000|
|  West| Mobile|      68000|
|  West| Laptop|     157000|
+------+-------+-----------+

In [577]:
# 2. City + Store wise average sales
df.groupBy("city", "store_id").agg(round(avg(col("amount")), 2)).show()

+----------+--------+---------------------+
|      city|store_id|round(avg(amount), 2)|
+----------+--------+---------------------+
| Bangalore|Store-03|             45333.33|
|     Patna|Store-06|              42000.0|
|   Chennai|Store-04|              45000.0|
|      Pune|Store-08|             45666.67|
|Chandigarh|Store-02|              28500.0|
|   Kolkata|Store-05|             41666.67|
|    Mumbai|Store-07|              48000.0|
|     Delhi|Store-01|              52750.0|
+----------+--------+---------------------+

In [578]:
# 3. Region + City wise transaction count
df.groupBy("region", "city").agg(count(col("txn_id"))).show()

+------+----------+-------------+
|region|      city|count(txn_id)|
+------+----------+-------------+
|  West|    Mumbai|            3|
| South| Bangalore|            3|
| North|     Delhi|            4|
| North|Chandigarh|            2|
| South|   Chennai|            3|
|  West|      Pune|            3|
|  East|   Kolkata|            3|
|  East|     Patna|            3|
+------+----------+-------------+

In [579]:
# 4. Product + Store wise max sale
df.groupBy("product", "store_id").agg(max(col("amount"))).show()

+-------+--------+-----------+
|product|store_id|max(amount)|
+-------+--------+-----------+
| Tablet|Store-06|      23000|
| Laptop|Store-07|      80000|
| Laptop|Store-01|      76000|
| Tablet|Store-02|      26000|
| Mobile|Store-01|      32000|
| Laptop|Store-03|      78000|
| Tablet|Store-08|      27000|
| Tablet|Store-03|      24000|
| Mobile|Store-04|      30000|
| Mobile|Store-07|      35000|
| Mobile|Store-05|      28000|
| Laptop|Store-05|      72000|
| Tablet|Store-01|      28000|
| Tablet|Store-07|      29000|
| Laptop|Store-08|      77000|
| Mobile|Store-08|      33000|
| Laptop|Store-04|      79000|
| Tablet|Store-05|      25000|
| Tablet|Store-04|      26000|
| Laptop|Store-06|      74000|
+-------+--------+-----------+
only showing top 20 rows

In [580]:
# 5. Identify top-selling product per region using aggregation only

**SET 5: WINDOW FUNCTIONS**

In [581]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank

**Exercises:**

1. Compute running total of sales per region ordered by date
2. Rank transactions by amount within each region
3. Assign row numbers per store ordered by sale amount
4. Use dense rank to rank products per region
5. Identify top 2 highest sales per region using window functions
6. Compare rank vs dense_rank output
7. Calculate cumulative sales per store
8. Identify first and last transaction per city using windows

In [582]:
# 1. Compute running total of sales per region ordered by date
w = Window.partitionBy("region").orderBy("sale_date")
df.withColumn("running_total_sales", sum("amount").over(w)).show()

+------+------+----------+--------+-------+----------+------+-------------------+
|txn_id|region|      city|store_id|product| sale_date|amount|running_total_sales|
+------+------+----------+--------+-------+----------+------+-------------------+
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|              72000|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|             100000|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|             123000|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|             152000|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|             177000|
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|             251000|
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|              75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|             107000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|             133000|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|             209000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|             240000|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|             268000|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|              78000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|             108000|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|             132000|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|             211000|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|             245000|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|             271000|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|              80000|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|             115000|
+------+------+----------+--------+-------+----------+------+-------------------+
only showing top 20 rows

In [583]:
# 2. Rank transactions by amount within each region
w = Window.partitionBy("region").orderBy(col("amount").desc())
df.withColumn("rank_by_amount", rank().over(w)).show()

+------+------+----------+--------+-------+----------+------+--------------+
|txn_id|region|      city|store_id|product| sale_date|amount|rank_by_amount|
+------+------+----------+--------+-------+----------+------+--------------+
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|             1|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|             2|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|             3|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|             4|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|             5|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|             6|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|             1|
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|             2|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|             3|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|             4|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|             5|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|             6|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|             1|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|             2|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|             3|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|             4|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|             5|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|             6|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|             1|
|  T016|  West|      Pune|Store-08| Laptop|2024-01-04| 77000|             2|
+------+------+----------+--------+-------+----------+------+--------------+
only showing top 20 rows

In [584]:
# 3. Assign row numbers per store ordered by sale amount
w = Window.partitionBy("store_id").orderBy(col("amount"))
df.withColumn("row_number", row_number().over(w)).show()

+------+------+----------+--------+-------+----------+------+----------+
|txn_id|region|      city|store_id|product| sale_date|amount|row_number|
+------+------+----------+--------+-------+----------+------+----------+
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|         1|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|         2|
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|         3|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|         4|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|         1|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|         2|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|         1|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|         2|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|         3|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|         1|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|         2|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|         3|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|         1|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|         2|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|         3|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|         1|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|         2|
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|         3|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|         1|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|         2|
+------+------+----------+--------+-------+----------+------+----------+
only showing top 20 rows

In [585]:
# 4. Use dense rank to rank products per region
w = Window.partitionBy("region").orderBy(col("product").desc())
df.withColumn("dense_rank", dense_rank().over(w)).show()

+------+------+----------+--------+-------+----------+------+----------+
|txn_id|region|      city|store_id|product| sale_date|amount|dense_rank|
+------+------+----------+--------+-------+----------+------+----------+
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|         1|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|         1|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|         2|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|         2|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|         3|
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|         3|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|         1|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|         1|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|         2|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|         2|
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|         3|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|         3|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|         1|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|         1|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|         2|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|         2|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|         3|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|         3|
|  T012|  West|      Pune|Store-08| Tablet|2024-01-03| 27000|         1|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|         1|
+------+------+----------+--------+-------+----------+------+----------+
only showing top 20 rows

In [586]:
# 5. Identify top 2 highest sales per region using window functions
w = Window.partitionBy("region").orderBy(col("amount").desc())
df_ranked = df.withColumn("highest_sales", rank().over(w))

df_ranked.filter(col("highest_sales") <= 2).show()

+------+------+---------+--------+-------+----------+------+-------------+
|txn_id|region|     city|store_id|product| sale_date|amount|highest_sales|
+------+------+---------+--------+-------+----------+------+-------------+
|  T023|  East|    Patna|Store-06| Laptop|2024-01-06| 74000|            1|
|  T007|  East|  Kolkata|Store-05| Laptop|2024-01-01| 72000|            2|
|  T013| North|    Delhi|Store-01| Laptop|2024-01-04| 76000|            1|
|  T001| North|    Delhi|Store-01| Laptop|2024-01-01| 75000|            2|
|  T014| South|  Chennai|Store-04| Laptop|2024-01-04| 79000|            1|
|  T004| South|Bangalore|Store-03| Laptop|2024-01-01| 78000|            2|
|  T010|  West|   Mumbai|Store-07| Laptop|2024-01-01| 80000|            1|
|  T016|  West|     Pune|Store-08| Laptop|2024-01-04| 77000|            2|
+------+------+---------+--------+-------+----------+------+-------------+

In [587]:
# 6. Compare rank vs dense_rank output by calculating cumulative sales per store.
w = Window.partitionBy("store_id").orderBy("amount")
df_compare = df.withColumn("rank", rank().over(w)) \
                .withColumn("dense_rank", dense_rank().over(w))

df_compare.show()

+------+------+----------+--------+-------+----------+------+----+----------+
|txn_id|region|      city|store_id|product| sale_date|amount|rank|dense_rank|
+------+------+----------+--------+-------+----------+------+----+----------+
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|   1|         1|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|   2|         2|
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|   3|         3|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|   4|         4|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|   1|         1|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|   2|         2|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|   1|         1|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|   2|         2|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|   3|         3|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|   1|         1|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|   2|         2|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|   3|         3|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|   1|         1|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|   2|         2|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|   3|         3|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|   1|         1|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|   2|         2|
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|   3|         3|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|   1|         1|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|   2|         2|
+------+------+----------+--------+-------+----------+------+----+----------+
only showing top 20 rows

In [588]:
# 6. Calculate cumulative sales per store
w = Window.partitionBy("store_id").orderBy(col("amount").asc())
df.withColumn("cumulative_sales", sum("amount").over(w)).show()

+------+------+----------+--------+-------+----------+------+----------------+
|txn_id|region|      city|store_id|product| sale_date|amount|cumulative_sales|
+------+------+----------+--------+-------+----------+------+----------------+
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|           28000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|           60000|
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|          135000|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|          211000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|           26000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|           57000|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|           24000|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|           58000|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|          136000|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|           26000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|           56000|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|          135000|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|           25000|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|           53000|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|          125000|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|           23000|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|           52000|
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|          126000|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|           29000|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|           64000|
+------+------+----------+--------+-------+----------+------+----------------+
only showing top 20 rows

In [589]:
# 7. Identify first and last transaction per city using windows
w = Window.partitionBy("city").orderBy(col("sale_date"))

df.withColumn("first_txn", first(col("txn_id"), ignorenulls=True).over(w)) \
  .withColumn("last_txn", last(col("txn_id"), ignorenulls=True).over(w)).show()

+------+------+----------+--------+-------+----------+------+---------+--------+
|txn_id|region|      city|store_id|product| sale_date|amount|first_txn|last_txn|
+------+------+----------+--------+-------+----------+------+---------+--------+
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|     T004|    T004|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|     T004|    T006|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|     T004|    T018|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|     T003|    T003|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|     T003|    T017|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|     T005|    T005|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|     T005|    T014|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|     T005|    T022|
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|     T001|    T001|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|     T001|    T002|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|     T001|    T013|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|     T001|    T021|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|     T007|    T007|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|     T007|    T008|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|     T007|    T019|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|     T010|    T010|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|     T010|    T011|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|     T010|    T020|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|     T009|    T009|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|     T009|    T015|
+------+------+----------+--------+-------+----------+------+---------+--------+
only showing top 20 rows

**Exercises:**

1. Run explain(True) for:
* Simple select
* Filter
* GroupBy
* Window function

2. Identify:
* Shuffles
* Exchanges
* Sorts
3. Explain why window functions introduce sorting.

In [590]:
# simpole select
df.select("txn_id", "region").explain(True)

== Parsed Logical Plan ==
'Project ['txn_id, 'region]
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Analyzed Logical Plan ==
txn_id: string, region: string
Project [txn_id#9516, region#9517]
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Optimized Logical Plan ==
Project [txn_id#9516, region#9517]
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Physical Plan ==
*(1) Project [txn_id#9516, region#9517]
+- *(1) Scan ExistingRDD[txn_id#9516,region#9517,city#9518,store_id#9519,product#9520,sale_date#9521,amount#9522L]

In [591]:
# filter
df.filter(col("amount") > 50000).explain(True)

== Parsed Logical Plan ==
'Filter '`>`('amount, 50000)
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Analyzed Logical Plan ==
txn_id: string, region: string, city: string, store_id: string, product: string, sale_date: string, amount: bigint
Filter (amount#9522L > cast(50000 as bigint))
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Optimized Logical Plan ==
Filter (isnotnull(amount#9522L) AND (amount#9522L > 50000))
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Physical Plan ==
*(1) Filter (isnotnull(amount#9522L) AND (amount#9522L > 50000))
+- *(1) Scan ExistingRDD[txn_id#9516,region#9517,city#9518,store_id#9519,product#9520,sale_date#9521,amount#9522L]

In [592]:
# groupby
df.groupBy("region").sum("amount").explain(True)

== Parsed Logical Plan ==
'Aggregate ['region], ['region, unresolvedalias('sum(amount#9522L))]
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Analyzed Logical Plan ==
region: string, sum(amount): bigint
Aggregate [region#9517], [region#9517, sum(amount#9522L) AS sum(amount)#10421L]
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Optimized Logical Plan ==
Aggregate [region#9517], [region#9517, sum(amount#9522L) AS sum(amount)#10421L]
+- Project [region#9517, amount#9522L]
   +- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- HashAggregate(keys=[region#9517], functions=[sum(amount#9522L)], output=[region#9517, sum(amount)#10421L])
   +- Exchange hashpartitioning(region#9517, 200), ENSURE_REQUIREMENTS, [plan_id=16233]
      +- HashAggregate(keys=[region#9517], functions=[partial_sum(amount#9522L)], output=[region#9517, sum#10423L])
         +- Project [region#9517, amount#9522L]
            +- Scan ExistingRDD[txn_id#9516,region#9517,city#9518,store_id#9519,product#9520,sale_date#9521,amount#9522L]

In [593]:
# window function
w = Window.partitionBy("store_id").orderBy(col("amount").asc())
df.withColumn("cumulative_sales", sum("amount").over(w)).explain(True)

== Parsed Logical Plan ==
'Project [unresolvedstarwithcolumns(cumulative_sales, 'sum('amount) windowspecdefinition('store_id, 'amount ASC NULLS FIRST, unspecifiedframe$()), None)]
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Analyzed Logical Plan ==
txn_id: string, region: string, city: string, store_id: string, product: string, sale_date: string, amount: bigint, cumulative_sales: bigint
Project [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L, cumulative_sales#10424L]
+- Project [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L, cumulative_sales#10424L, cumulative_sales#10424L]
   +- Window [sum(amount#9522L) windowspecdefinition(store_id#9519, amount#9522L ASC NULLS FIRST, specifiedwindowframe(RangeFrame, unboundedpreceding$(), currentrow$())) AS cumulative_sales#10424L], [store_id#9519], [amount#9522L ASC NULLS FIRST]
      +- Project [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L]
         +- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Optimized Logical Plan ==
Window [sum(amount#9522L) windowspecdefinition(store_id#9519, amount#9522L ASC NULLS FIRST, specifiedwindowframe(RangeFrame, unboundedpreceding$(), currentrow$())) AS cumulative_sales#10424L], [store_id#9519], [amount#9522L ASC NULLS FIRST]
+- LogicalRDD [txn_id#9516, region#9517, city#9518, store_id#9519, product#9520, sale_date#9521, amount#9522L], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Window [sum(amount#9522L) windowspecdefinition(store_id#9519, amount#9522L ASC NULLS FIRST, specifiedwindowframe(RangeFrame, unboundedpreceding$(), currentrow$())) AS cumulative_sales#10424L], [store_id#9519], [amount#9522L ASC NULLS FIRST]
   +- Sort [store_id#9519 ASC NULLS FIRST, amount#9522L ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(store_id#9519, 200), ENSURE_REQUIREMENTS, [plan_id=16243]
         +- Scan ExistingRDD[txn_id#9516,region#9517,city#9518,store_id#9519,product#9520,sale_date#9521,amount#9522L]

***3. Explain why window functions introduce sorting.***

> Window functions introduce sorting because they need a defined row order within each partition to compute position-based results like **rank()**, **row_number()**, **lag()**, or **cumulative sums**.


> Without sorting, these operations would be ambiguous. Spark achieves this by shuffling data by partition keys and sorting rows by the **orderBy** clause inside the window specification.

```
from pyspark.sql.window import Window
from pyspark.sql import functions as F

w = Window.partitionBy(...).orderBy(...)
cum = w.rowsBetween(Window.unboundedPreceding, Window.currentRow)
movN = w.rowsBetween(-N+1, 0)

# Ranking
F.row_number().over(w)
F.rank().over(w)
F.dense_rank().over(w)
F.percent_rank().over(w)
F.ntile(k).over(w)

# Navigation
F.lag(col, offset).over(w)
F.lead(col, offset).over(w)

# Aggregates
F.sum(col).over(cum)
F.avg(col).over(movN)
F.min(col).over(cum)
F.max(col).over(cum)
F.first(col, ignorenulls=True).over(w)
F.last(col, ignorenulls=True).over(w)

# Collections (use with caution)
F.collect_list(col).over(cum)
F.collect_set(col).over(cum)

```