In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("MyApp") \
    .getOrCreate()

In [3]:
data=[
    ("U001", "Delhi", 450),
    ("U002", "Mumbai", 620),
    ("U003", "Bangalore", 300),
    ("U004", "Delhi", 700)
]

In [4]:
columns=["user_id", "city", "amt"]

In [5]:
df=spark.createDataFrame(data, columns)
df.show()

+-------+---------+---+
|user_id|     city|amt|
+-------+---------+---+
|   U001|    Delhi|450|
|   U002|   Mumbai|620|
|   U003|Bangalore|300|
|   U004|    Delhi|700|
+-------+---------+---+

In [6]:
from pyspark.sql.functions import col
df=df.withColumn("amt_with_tax", col("amt")*1.18)

In [7]:
df.show()

+-------+---------+---+-----------------+
|user_id|     city|amt|     amt_with_tax|
+-------+---------+---+-----------------+
|   U001|    Delhi|450|            531.0|
|   U002|   Mumbai|620|731.5999999999999|
|   U003|Bangalore|300|            354.0|
|   U004|    Delhi|700|            826.0|
+-------+---------+---+-----------------+

In [8]:
df=df.replace("Delhi", 'New Delhi', subset=['city'])

In [9]:
df.show()

+-------+---------+---+-----------------+
|user_id|     city|amt|     amt_with_tax|
+-------+---------+---+-----------------+
|   U001|New Delhi|450|            531.0|
|   U002|   Mumbai|620|731.5999999999999|
|   U003|Bangalore|300|            354.0|
|   U004|New Delhi|700|            826.0|
+-------+---------+---+-----------------+

In [10]:
from pyspark.sql.functions import when

In [11]:
df=df.withColumn(
    "amt_cat",
    when(col("amt") >= 500, "High").otherwise("Low")
)

In [12]:
df.show()

+-------+---------+---+-----------------+-------+
|user_id|     city|amt|     amt_with_tax|amt_cat|
+-------+---------+---+-----------------+-------+
|   U001|New Delhi|450|            531.0|    Low|
|   U002|   Mumbai|620|731.5999999999999|   High|
|   U003|Bangalore|300|            354.0|    Low|
|   U004|New Delhi|700|            826.0|   High|
+-------+---------+---+-----------------+-------+