<a href="https://colab.research.google.com/github/Silvio-0-1/Python-Training/blob/main/16-12-2025/pyspark/exercises/tasks_1_to_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [239]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('exercises').getOrCreate()

In [240]:
data = """call_id,caller,receiver,city,call_type,duration_seconds,cost
C001,Amit,Rahul,Hyderabad,Local,180,2.5
C002,Neha,Arjun,Bangalore,STD,320,6.0
C003,Rahul,Pooja,Delhi,Local,60,1.0
C004,Pooja,Neha,Mumbai,ISD,900,25.0
C005,Arjun,Amit,Chennai,STD,400,7.5
C006,Sneha,Karan,Hyderabad,Local,240,3.0
C007,Karan,Sneha,Delhi,Local,120,2.0
C008,Riya,Vikas,Bangalore,STD,360,6.5
C009,Vikas,Riya,Mumbai,ISD,1100,30.0
C010,Anjali,Sanjay,Chennai,Local,90,1.5
C011,Farhan,Ayesha,Delhi,STD,420,7.0
C012,Ayesha,Farhan,Hyderabad,ISD,950,28.0
C013,Suresh,Divya,Bangalore,Local,150,2.0
C014,Divya,Suresh,Mumbai,STD,380,6.8
C015,Nikhil,Priya,Delhi,Local,200,2.8
C016,Priya,Nikhil,Chennai,STD,410,7.2
C017,Rohit,Kavya,Hyderabad,Local,170,2.3
C018,Kavya,Rohit,Bangalore,Local,140,2.1
C019,Manish,Tina,Mumbai,ISD,1000,27.0
C020,Tina,Manish,Delhi,STD,350,6.2
"""

**Task 1:** Read the CSV file using sparkContext.textFile and display the first 5 records.

In [241]:
with open('call_records.csv','w') as f:
    f.write(data)

rdd = spark.sparkContext.textFile('call_records.csv')

In [242]:
# first 5 rows
rdd.take(5)

['call_id,caller,receiver,city,call_type,duration_seconds,cost',
 'C001,Amit,Rahul,Hyderabad,Local,180,2.5',
 'C002,Neha,Arjun,Bangalore,STD,320,6.0',
 'C003,Rahul,Pooja,Delhi,Local,60,1.0',
 'C004,Pooja,Neha,Mumbai,ISD,900,25.0']

**Task 2:** Remove the header row and create a clean RDD containing only data rows.

In [243]:
header = rdd.first()
data_rdd = rdd.filter(lambda x: x != header)

data_rdd.collect()

['C001,Amit,Rahul,Hyderabad,Local,180,2.5',
 'C002,Neha,Arjun,Bangalore,STD,320,6.0',
 'C003,Rahul,Pooja,Delhi,Local,60,1.0',
 'C004,Pooja,Neha,Mumbai,ISD,900,25.0',
 'C005,Arjun,Amit,Chennai,STD,400,7.5',
 'C006,Sneha,Karan,Hyderabad,Local,240,3.0',
 'C007,Karan,Sneha,Delhi,Local,120,2.0',
 'C008,Riya,Vikas,Bangalore,STD,360,6.5',
 'C009,Vikas,Riya,Mumbai,ISD,1100,30.0',
 'C010,Anjali,Sanjay,Chennai,Local,90,1.5',
 'C011,Farhan,Ayesha,Delhi,STD,420,7.0',
 'C012,Ayesha,Farhan,Hyderabad,ISD,950,28.0',
 'C013,Suresh,Divya,Bangalore,Local,150,2.0',
 'C014,Divya,Suresh,Mumbai,STD,380,6.8',
 'C015,Nikhil,Priya,Delhi,Local,200,2.8',
 'C016,Priya,Nikhil,Chennai,STD,410,7.2',
 'C017,Rohit,Kavya,Hyderabad,Local,170,2.3',
 'C018,Kavya,Rohit,Bangalore,Local,140,2.1',
 'C019,Manish,Tina,Mumbai,ISD,1000,27.0',
 'C020,Tina,Manish,Delhi,STD,350,6.2']

**Task 3:** Split each row into individual fields using a delimiter.

In [244]:
split_rdd = data_rdd.map(lambda x: x.split(','))
split_rdd.collect()

[['C001', 'Amit', 'Rahul', 'Hyderabad', 'Local', '180', '2.5'],
 ['C002', 'Neha', 'Arjun', 'Bangalore', 'STD', '320', '6.0'],
 ['C003', 'Rahul', 'Pooja', 'Delhi', 'Local', '60', '1.0'],
 ['C004', 'Pooja', 'Neha', 'Mumbai', 'ISD', '900', '25.0'],
 ['C005', 'Arjun', 'Amit', 'Chennai', 'STD', '400', '7.5'],
 ['C006', 'Sneha', 'Karan', 'Hyderabad', 'Local', '240', '3.0'],
 ['C007', 'Karan', 'Sneha', 'Delhi', 'Local', '120', '2.0'],
 ['C008', 'Riya', 'Vikas', 'Bangalore', 'STD', '360', '6.5'],
 ['C009', 'Vikas', 'Riya', 'Mumbai', 'ISD', '1100', '30.0'],
 ['C010', 'Anjali', 'Sanjay', 'Chennai', 'Local', '90', '1.5'],
 ['C011', 'Farhan', 'Ayesha', 'Delhi', 'STD', '420', '7.0'],
 ['C012', 'Ayesha', 'Farhan', 'Hyderabad', 'ISD', '950', '28.0'],
 ['C013', 'Suresh', 'Divya', 'Bangalore', 'Local', '150', '2.0'],
 ['C014', 'Divya', 'Suresh', 'Mumbai', 'STD', '380', '6.8'],
 ['C015', 'Nikhil', 'Priya', 'Delhi', 'Local', '200', '2.8'],
 ['C016', 'Priya', 'Nikhil', 'Chennai', 'STD', '410', '7.2'],
 ['C017', 'Rohit', 'Kavya', 'Hyderabad', 'Local', '170', '2.3'],
 ['C018', 'Kavya', 'Rohit', 'Bangalore', 'Local', '140', '2.1'],
 ['C019', 'Manish', 'Tina', 'Mumbai', 'ISD', '1000', '27.0'],
 ['C020', 'Tina', 'Manish', 'Delhi', 'STD', '350', '6.2']]

**Task 4:** Calculate the total call cost per city.

In [245]:
city_cost = split_rdd.map(lambda x: (x[3], float(x[6])))

# city_cost.collect() # displays "city", "cost" columns

total_cost_per_city = city_cost_rdd.reduceByKey(lambda a, b: a + b) # adds all "cost" belonging to same city

total_cost_per_city.collect()

[('Hyderabad', 35.8),
 ('Delhi', 19.0),
 ('Mumbai', 88.8),
 ('Bangalore', 16.6),
 ('Chennai', 16.2)]

**Task 5:** Identify the city with the highest total call cost.

In [246]:
highest_cost = total_cost_per_city.reduce(lambda x, y: x if x[1]> y[1] else y) # compares "cost" column of two rows and returns the highest
highest_cost

('Mumbai', 88.8)

**Task 6:** Calculate the total call duration per call type (Local, STD, ISD).

In [247]:
call_type_duration = split_rdd.map(lambda x: (x[4], int(x[5])))

# call_type_duration.collect() # displays "call_type", "duration" columns

call_duration_per_call = city_cost_rdd.reduceByKey(lambda a, b: a + b) # adds all "duration" belonging to same city

call_duration_per_call.collect()

[('Hyderabad', 35.8),
 ('Delhi', 19.0),
 ('Mumbai', 88.8),
 ('Bangalore', 16.6),
 ('Chennai', 16.2)]

**Task 7:** Count the number of calls per city.

In [248]:
calls_1 = split_rdd.map(lambda x: (x[3], 1))

# calls_1.collect() # displays as "city", 1

calls_per_city = calls_1.reduceByKey(lambda a, b: a + b) # adds all 1 belonging to same city

calls_per_city.collect()

[('Hyderabad', 4),
 ('Delhi', 5),
 ('Mumbai', 4),
 ('Bangalore', 4),
 ('Chennai', 3)]

**Task 8:** Calculate the average call cost per city using RDD transformations.

In [249]:
avg_cost_per_city = total_cost_per_city.join(calls_per_city).map(lambda x: (x[0], x[1][0] / x[1][1]))
avg_cost_per_city.collect()

[('Hyderabad', 8.95),
 ('Delhi', 3.8),
 ('Mumbai', 22.2),
 ('Bangalore', 4.15),
 ('Chennai', 5.3999999999999995)]

**Task 9:** Filter and list all high-value calls where call cost is greater than 20.

In [250]:
filtered = split_rdd.filter(lambda y: float(y[6]) > 20)
filtered.collect()

[['C004', 'Pooja', 'Neha', 'Mumbai', 'ISD', '900', '25.0'],
 ['C009', 'Vikas', 'Riya', 'Mumbai', 'ISD', '1100', '30.0'],
 ['C012', 'Ayesha', 'Farhan', 'Hyderabad', 'ISD', '950', '28.0'],
 ['C019', 'Manish', 'Tina', 'Mumbai', 'ISD', '1000', '27.0']]

**Task 10:** Count the number of ISD calls per city.

In [251]:
isd_calls = split_rdd.filter(lambda x: x[4] == "ISD")
# isd_calls.collect() # all rows with "isd" calls

isd_calls_city_1 = split_rdd.map(lambda x: (x[3], 1))
# isd_calls_city_1.collect() # displays as "city", 1

isd_calls_per_city = isd_calls_city_1.reduceByKey(lambda a, b: a + b) # adds all 1 belonging to same city
isd_calls_per_city.collect()

[('Hyderabad', 4),
 ('Delhi', 5),
 ('Mumbai', 4),
 ('Bangalore', 4),
 ('Chennai', 3)]

**Task 11:** Identify the longest call based on call duration.

In [252]:
longest_call = split_rdd.reduce(lambda x, y: x if int(x[5]) > int(y[5]) else y)
longest_call

['C009', 'Vikas', 'Riya', 'Mumbai', 'ISD', '1100', '30.0']

**Task 12:** Calculate the total revenue generated by each caller.

In [253]:
revenue_by_caller = split_rdd.map(lambda x: (x[1], float(x[6])))
revenue_by_caller.collect()

[('Amit', 2.5),
 ('Neha', 6.0),
 ('Rahul', 1.0),
 ('Pooja', 25.0),
 ('Arjun', 7.5),
 ('Sneha', 3.0),
 ('Karan', 2.0),
 ('Riya', 6.5),
 ('Vikas', 30.0),
 ('Anjali', 1.5),
 ('Farhan', 7.0),
 ('Ayesha', 28.0),
 ('Suresh', 2.0),
 ('Divya', 6.8),
 ('Nikhil', 2.8),
 ('Priya', 7.2),
 ('Rohit', 2.3),
 ('Kavya', 2.1),
 ('Manish', 27.0),
 ('Tina', 6.2)]

**Task 13:** Detect suspicious calls based on the following rule:

*duration greater than 900 seconds and cost greater than 25*

In [254]:
suspicious_calls = split_rdd.filter(lambda x: (int(x[5]) > 900) & (float(x[6]) > 25))
suspicious_calls.collect()

[['C009', 'Vikas', 'Riya', 'Mumbai', 'ISD', '1100', '30.0'],
 ['C012', 'Ayesha', 'Farhan', 'Hyderabad', 'ISD', '950', '28.0'],
 ['C019', 'Manish', 'Tina', 'Mumbai', 'ISD', '1000', '27.0']]