<a href="https://colab.research.google.com/github/Silvio-0-1/Python-Training/blob/main/15-12-2025/pyspark/exercises/exercises_1_to_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Read a CSV').getOrCreate()

from pyspark.sql.functions import lit, when, col

In [10]:
data = [
    ("O001","Amit","Hyderabad","Spice Hub","Indian",450,35,"UPI","Delivered"),
    ("O002","Neha","Bangalore","Pizza Town","Italian",650,40,"Card","Delivered"),
    ("O003","Rahul","Delhi","Burger Zone","American",520,30,"Cash","Delivered"),
    ("O004","Pooja","Mumbai","Sushi Bar","Japanese",1200,55,"UPI","Cancelled"),
    ("O005","Arjun","Chennai","Curry Leaf","Indian",380,28,"UPI","Delivered"),
    ("O006","Sneha","Hyderabad","Pasta Street","Italian",700,45,"Card","Delivered"),
    ("O007","Karan","Delhi","Taco Bell","Mexican",540,33,"UPI","Delivered"),
    ("O008","Riya","Bangalore","Dragon Bowl","Chinese",600,38,"Wallet","Delivered"),
    ("O009","Vikas","Mumbai","BBQ Nation","Indian",1500,60,"Card","Delivered"),
    ("O010","Anjali","Chennai","Burger Zone","American",480,32,"Cash","Delivered"),
    ("O011","Farhan","Delhi","Biryani House","Indian",520,36,"UPI","Delivered"),
    ("O012","Megha","Hyderabad","Sushi Bar","Japanese",1100,58,"Card","Cancelled"),
    ("O013","Suresh","Bangalore","Curry Leaf","Indian",420,29,"UPI","Delivered"),
    ("O014","Divya","Mumbai","Pizza Town","Italian",780,42,"Wallet","Delivered"),
    ("O015","Nikhil","Delhi","Pasta Street","Italian",690,47,"UPI","Delivered"),
    ("O016","Kavya","Chennai","Dragon Bowl","Chinese",560,34,"UPI","Delivered"),
    ("O017","Rohit","Hyderabad","BBQ Nation","Indian",1400,62,"Card","Delivered"),
    ("O018","Simran","Bangalore","Burger Zone","American",510,31,"Cash","Delivered"),
    ("O019","Ayesha","Mumbai","Taco Bell","Mexican",570,35,"UPI","Delivered"),
    ("O020","Manish","Delhi","Curry Leaf","Indian",390,27,"Wallet","Delivered"),
    ("O021","Priya","Hyderabad","Pizza Town","Italian",720,41,"Card","Delivered"),
    ("O022","Yash","Chennai","Sushi Bar","Japanese",1150,57,"UPI","Delivered"),
    ("O023","Naina","Bangalore","Pasta Street","Italian",680,44,"UPI","Delivered"),
    ("O024","Sameer","Mumbai","Dragon Bowl","Chinese",610,39,"Wallet","Delivered"),
    ("O025","Ritika","Delhi","Burger Zone","American",500,30,"Cash","Delivered"),
    ("O026","Gopal","Hyderabad","Curry Leaf","Indian",410,28,"UPI","Delivered"),
    ("O027","Tina","Bangalore","Pizza Town","Italian",760,43,"Card","Delivered"),
    ("O028","Irfan","Mumbai","BBQ Nation","Indian",1550,65,"Card","Delivered"),
    ("O029","Sahil","Chennai","Taco Bell","Mexican",590,37,"UPI","Delivered"),
    ("O030","Lavanya","Delhi","Dragon Bowl","Chinese",630,40,"Wallet","Delivered"),
    ("O031","Deepak","Hyderabad","Burger Zone","American",520,33,"Cash","Delivered"),
    ("O032","Shweta","Bangalore","Curry Leaf","Indian",450,31,"UPI","Delivered"),
    ("O033","Aman","Mumbai","Pizza Town","Italian",810,46,"Card","Delivered"),
    ("O034","Rekha","Chennai","Pasta Street","Italian",700,45,"UPI","Delivered"),
    ("O035","Zubin","Delhi","BBQ Nation","Indian",1480,63,"Card","Delivered"),
    ("O036","Pallavi","Hyderabad","Dragon Bowl","Chinese",580,36,"Wallet","Delivered"),
    ("O037","Naveen","Bangalore","Taco Bell","Mexican",560,34,"UPI","Delivered"),
    ("O038","Sonia","Mumbai","Sushi Bar","Japanese",1180,59,"Card","Delivered"),
    ("O039","Harish","Chennai","Burger Zone","American",490,29,"Cash","Delivered"),
    ("O040","Kriti","Delhi","Curry Leaf","Indian",420,26,"UPI","Delivered")
]

columns = [
    "order_id","customer_name","city","restaurant","cuisine",
    "order_amount","delivery_time_minutes","payment_mode","order_status"
]

**Exercise 1:** Write the full dataset to CSV with header enabled.

In [11]:
# create DataFrame
df = spark.createDataFrame(data, columns)

# save file
df.write.mode("overwrite").option("header", "true").csv("orders_csv.csv")

df.show()
df.printSchema()

+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|   restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|    O001|         Amit|Hyderabad|    Spice Hub|  Indian|         450|                   35|         UPI|   Delivered|
|    O002|         Neha|Bangalore|   Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O003|        Rahul|    Delhi|  Burger Zone|American|         520|                   30|        Cash|   Delivered|
|    O004|        Pooja|   Mumbai|    Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O005|        Arjun|  Chennai|   Curry Leaf|  Indian|         380|                   28|         UPI|   Delivered|
|    O006|        Sneha|Hyderabad| Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O007|        Karan|    Delhi|    Taco Bell| Mexican|         540|                   33|         UPI|   Delivered|
|    O008|         Riya|Bangalore|  Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
|    O009|        Vikas|   Mumbai|   BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O010|       Anjali|  Chennai|  Burger Zone|American|         480|                   32|        Cash|   Delivered|
|    O011|       Farhan|    Delhi|Biryani House|  Indian|         520|                   36|         UPI|   Delivered|
|    O012|        Megha|Hyderabad|    Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O013|       Suresh|Bangalore|   Curry Leaf|  Indian|         420|                   29|         UPI|   Delivered|
|    O014|        Divya|   Mumbai|   Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O015|       Nikhil|    Delhi| Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O016|        Kavya|  Chennai|  Dragon Bowl| Chinese|         560|                   34|         UPI|   Delivered|
|    O017|        Rohit|Hyderabad|   BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O018|       Simran|Bangalore|  Burger Zone|American|         510|                   31|        Cash|   Delivered|
|    O019|       Ayesha|   Mumbai|    Taco Bell| Mexican|         570|                   35|         UPI|   Delivered|
|    O020|       Manish|    Delhi|   Curry Leaf|  Indian|         390|                   27|      Wallet|   Delivered|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows
root
 |-- order_id: string (nullable = true)
 |-- customer_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- restaurant: string (nullable = true)
 |-- cuisine: string (nullable = true)
 |-- order_amount: long (nullable = true)
 |-- delivery_time_minutes: long (nullable = true)
 |-- payment_mode: string (nullable = true)
 |-- order_status: string (nullable = true)

**Exercise 2:** Read the CSV back and filter order_amount > 700

In [16]:
df_filtered = df.filter(col("order_amount")> 700)
df_filtered.show()

+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|    O004|        Pooja|   Mumbai| Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O009|        Vikas|   Mumbai|BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O012|        Megha|Hyderabad| Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O014|        Divya|   Mumbai|Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O017|        Rohit|Hyderabad|BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O021|        Priya|Hyderabad|Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O022|         Yash|  Chennai| Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O027|         Tina|Bangalore|Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O028|        Irfan|   Mumbai|BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O033|         Aman|   Mumbai|Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O035|        Zubin|    Delhi|BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O038|        Sonia|   Mumbai| Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+

**Exercise 3:** From CSV, show only:
* order_id
* city
* cuisine
* order_amount

In [17]:
df.select(col("order_id"), col("city"), col("cuisine"), col("order_amount")).show()

+--------+---------+--------+------------+
|order_id|     city| cuisine|order_amount|
+--------+---------+--------+------------+
|    O001|Hyderabad|  Indian|         450|
|    O002|Bangalore| Italian|         650|
|    O003|    Delhi|American|         520|
|    O004|   Mumbai|Japanese|        1200|
|    O005|  Chennai|  Indian|         380|
|    O006|Hyderabad| Italian|         700|
|    O007|    Delhi| Mexican|         540|
|    O008|Bangalore| Chinese|         600|
|    O009|   Mumbai|  Indian|        1500|
|    O010|  Chennai|American|         480|
|    O011|    Delhi|  Indian|         520|
|    O012|Hyderabad|Japanese|        1100|
|    O013|Bangalore|  Indian|         420|
|    O014|   Mumbai| Italian|         780|
|    O015|    Delhi| Italian|         690|
|    O016|  Chennai| Chinese|         560|
|    O017|Hyderabad|  Indian|        1400|
|    O018|Bangalore|American|         510|
|    O019|   Mumbai| Mexican|         570|
|    O020|    Delhi|  Indian|         390|
+--------+---------+--------+------------+
only showing top 20 rows

**Exercise 4:** Sort orders by delivery_time_minutes descending and write result to CSV.

In [21]:
sorted_by_delivery = df.sort(col("delivery_time_minutes").desc()).show()

df.write.mode("overwrite").option("header", "true").csv("sorted_by_delivery_csv.csv")

+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|  restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
|    O028|        Irfan|   Mumbai|  BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|
|    O035|        Zubin|    Delhi|  BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|
|    O017|        Rohit|Hyderabad|  BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O009|        Vikas|   Mumbai|  BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O038|        Sonia|   Mumbai|   Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|
|    O012|        Megha|Hyderabad|   Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|
|    O022|         Yash|  Chennai|   Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
|    O004|        Pooja|   Mumbai|   Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|
|    O015|       Nikhil|    Delhi|Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O033|         Aman|   Mumbai|  Pizza Town| Italian|         810|                   46|        Card|   Delivered|
|    O006|        Sneha|Hyderabad|Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O034|        Rekha|  Chennai|Pasta Street| Italian|         700|                   45|         UPI|   Delivered|
|    O023|        Naina|Bangalore|Pasta Street| Italian|         680|                   44|         UPI|   Delivered|
|    O027|         Tina|Bangalore|  Pizza Town| Italian|         760|                   43|        Card|   Delivered|
|    O014|        Divya|   Mumbai|  Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O021|        Priya|Hyderabad|  Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O002|         Neha|Bangalore|  Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O030|      Lavanya|    Delhi| Dragon Bowl| Chinese|         630|                   40|      Wallet|   Delivered|
|    O024|       Sameer|   Mumbai| Dragon Bowl| Chinese|         610|                   39|      Wallet|   Delivered|
|    O008|         Riya|Bangalore| Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
+--------+-------------+---------+------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows

**Exercise 5:** Write only “Delivered” orders to JSON.

In [22]:
df_delivered = df.filter(col("order_status") == "Delivered")
df_delivered.show()
df.write.mode("overwrite").json("df_delivered.json")

+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|     city|   restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|    O001|         Amit|Hyderabad|    Spice Hub|  Indian|         450|                   35|         UPI|   Delivered|
|    O002|         Neha|Bangalore|   Pizza Town| Italian|         650|                   40|        Card|   Delivered|
|    O003|        Rahul|    Delhi|  Burger Zone|American|         520|                   30|        Cash|   Delivered|
|    O005|        Arjun|  Chennai|   Curry Leaf|  Indian|         380|                   28|         UPI|   Delivered|
|    O006|        Sneha|Hyderabad| Pasta Street| Italian|         700|                   45|        Card|   Delivered|
|    O007|        Karan|    Delhi|    Taco Bell| Mexican|         540|                   33|         UPI|   Delivered|
|    O008|         Riya|Bangalore|  Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|
|    O009|        Vikas|   Mumbai|   BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|
|    O010|       Anjali|  Chennai|  Burger Zone|American|         480|                   32|        Cash|   Delivered|
|    O011|       Farhan|    Delhi|Biryani House|  Indian|         520|                   36|         UPI|   Delivered|
|    O013|       Suresh|Bangalore|   Curry Leaf|  Indian|         420|                   29|         UPI|   Delivered|
|    O014|        Divya|   Mumbai|   Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|
|    O015|       Nikhil|    Delhi| Pasta Street| Italian|         690|                   47|         UPI|   Delivered|
|    O016|        Kavya|  Chennai|  Dragon Bowl| Chinese|         560|                   34|         UPI|   Delivered|
|    O017|        Rohit|Hyderabad|   BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|
|    O018|       Simran|Bangalore|  Burger Zone|American|         510|                   31|        Cash|   Delivered|
|    O019|       Ayesha|   Mumbai|    Taco Bell| Mexican|         570|                   35|         UPI|   Delivered|
|    O020|       Manish|    Delhi|   Curry Leaf|  Indian|         390|                   27|      Wallet|   Delivered|
|    O021|        Priya|Hyderabad|   Pizza Town| Italian|         720|                   41|        Card|   Delivered|
|    O022|         Yash|  Chennai|    Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows

**Exercise 6:** Read JSON and filter:
* city = "Mumbai"
* payment_mode = "Card"

In [31]:
df_json = spark.read \
    .option("header","true") \
    .option("inferSchema","true") \
    .json("df_delivered.json")

df_json.filter((col("city") == "Mumbai") & (col("payment_mode") == "Card")).show()

+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|  city| cuisine|customer_name|delivery_time_minutes|order_amount|order_id|order_status|payment_mode|restaurant|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|Mumbai|  Indian|        Irfan|                   65|        1550|    O028|   Delivered|        Card|BBQ Nation|
|Mumbai| Italian|         Aman|                   46|         810|    O033|   Delivered|        Card|Pizza Town|
|Mumbai|Japanese|        Sonia|                   59|        1180|    O038|   Delivered|        Card| Sushi Bar|
|Mumbai|  Indian|        Vikas|                   60|        1500|    O009|   Delivered|        Card|BBQ Nation|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+

**Exercise 7:** Add a column: *delivery_category*

Logic:
1. delivery_time_minutes > 45 → "Late"
2. else → "OnTime"


Write output to JSON.

In [33]:
df = df.withColumn("delivery_category", when(col("delivery_time_minutes") > 45, "Late").otherwise("OnTime"))
df.show()

df.write.mode("overwrite").json("df_added_column.json")

+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+-----------------+
|order_id|customer_name|     city|   restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|delivery_category|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+-----------------+
|    O001|         Amit|Hyderabad|    Spice Hub|  Indian|         450|                   35|         UPI|   Delivered|           OnTime|
|    O002|         Neha|Bangalore|   Pizza Town| Italian|         650|                   40|        Card|   Delivered|           OnTime|
|    O003|        Rahul|    Delhi|  Burger Zone|American|         520|                   30|        Cash|   Delivered|           OnTime|
|    O004|        Pooja|   Mumbai|    Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|             Late|
|    O005|        Arjun|  Chennai|   Curry Leaf|  Indian|         380|                   28|         UPI|   Delivered|           OnTime|
|    O006|        Sneha|Hyderabad| Pasta Street| Italian|         700|                   45|        Card|   Delivered|           OnTime|
|    O007|        Karan|    Delhi|    Taco Bell| Mexican|         540|                   33|         UPI|   Delivered|           OnTime|
|    O008|         Riya|Bangalore|  Dragon Bowl| Chinese|         600|                   38|      Wallet|   Delivered|           OnTime|
|    O009|        Vikas|   Mumbai|   BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|             Late|
|    O010|       Anjali|  Chennai|  Burger Zone|American|         480|                   32|        Cash|   Delivered|           OnTime|
|    O011|       Farhan|    Delhi|Biryani House|  Indian|         520|                   36|         UPI|   Delivered|           OnTime|
|    O012|        Megha|Hyderabad|    Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|             Late|
|    O013|       Suresh|Bangalore|   Curry Leaf|  Indian|         420|                   29|         UPI|   Delivered|           OnTime|
|    O014|        Divya|   Mumbai|   Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|           OnTime|
|    O015|       Nikhil|    Delhi| Pasta Street| Italian|         690|                   47|         UPI|   Delivered|             Late|
|    O016|        Kavya|  Chennai|  Dragon Bowl| Chinese|         560|                   34|         UPI|   Delivered|           OnTime|
|    O017|        Rohit|Hyderabad|   BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|             Late|
|    O018|       Simran|Bangalore|  Burger Zone|American|         510|                   31|        Cash|   Delivered|           OnTime|
|    O019|       Ayesha|   Mumbai|    Taco Bell| Mexican|         570|                   35|         UPI|   Delivered|           OnTime|
|    O020|       Manish|    Delhi|   Curry Leaf|  Indian|         390|                   27|      Wallet|   Delivered|           OnTime|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+-----------------+
only showing top 20 rows

**Exercise 8**: Force JSON output to a single partition and observe number of files created.

In [35]:
df_json = df_json = spark.read \
    .option("header","true") \
    .option("inferSchema","true") \
    .json("df_added_column.json")

df_json.repartition(1).write.mode("overwrite").json("df_single_partition.json")

**Exercise 9:** Convert full dataset to Parquet.

In [37]:
df.write.mode("overwrite").parquet("df_parquet.parquet")

**Exercise 10:** Read Parquet and filter:
* cuisine = "Indian"
* order_amount > 500

In [43]:
df_parquet = spark.read.parquet("df_parquet.parquet")

df_parquet.filter((col("cuisine") == "Indian") & (col("order_amount") > 500)).show()

+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+-----------------+
|order_id|customer_name|     city|   restaurant|cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|delivery_category|
+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+-----------------+
|    O009|        Vikas|   Mumbai|   BBQ Nation| Indian|        1500|                   60|        Card|   Delivered|             Late|
|    O011|       Farhan|    Delhi|Biryani House| Indian|         520|                   36|         UPI|   Delivered|           OnTime|
|    O017|        Rohit|Hyderabad|   BBQ Nation| Indian|        1400|                   62|        Card|   Delivered|             Late|
|    O028|        Irfan|   Mumbai|   BBQ Nation| Indian|        1550|                   65|        Card|   Delivered|             Late|
|    O035|        Zubin|    Delhi|   BBQ Nation| Indian|        1480|                   63|        Card|   Delivered|             Late|
+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+-----------------+

**Exercise 11:** Sort Parquet data by order_amount descending and write top 10 orders back to Parquet.

In [44]:
sorted_by_delivery = df_parquet.sort(col("order_amount").desc()).limit(10)
sorted_by_delivery.show()

sorted_by_delivery.write.mode("overwrite").parquet("sorted_by_delivery_parquet.parquet")

+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+-----------------+
|order_id|customer_name|     city|restaurant| cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|delivery_category|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+-----------------+
|    O028|        Irfan|   Mumbai|BBQ Nation|  Indian|        1550|                   65|        Card|   Delivered|             Late|
|    O009|        Vikas|   Mumbai|BBQ Nation|  Indian|        1500|                   60|        Card|   Delivered|             Late|
|    O035|        Zubin|    Delhi|BBQ Nation|  Indian|        1480|                   63|        Card|   Delivered|             Late|
|    O017|        Rohit|Hyderabad|BBQ Nation|  Indian|        1400|                   62|        Card|   Delivered|             Late|
|    O004|        Pooja|   Mumbai| Sushi Bar|Japanese|        1200|                   55|         UPI|   Cancelled|             Late|
|    O038|        Sonia|   Mumbai| Sushi Bar|Japanese|        1180|                   59|        Card|   Delivered|             Late|
|    O022|         Yash|  Chennai| Sushi Bar|Japanese|        1150|                   57|         UPI|   Delivered|             Late|
|    O012|        Megha|Hyderabad| Sushi Bar|Japanese|        1100|                   58|        Card|   Cancelled|             Late|
|    O033|         Aman|   Mumbai|Pizza Town| Italian|         810|                   46|        Card|   Delivered|             Late|
|    O014|        Divya|   Mumbai|Pizza Town| Italian|         780|                   42|      Wallet|   Delivered|           OnTime|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+-----------------+

**Exercise 12:** Compare storage size of:
* CSV
* JSON
* Parquet

Answer:
1. Which is smallest?
2. Why?

**Exercise 13:** Convert:
* CSV → Parquet
* JSON → Parquet

In [45]:
df.write.mode("overwrite").parquet("df_csv_to_parquet.parquet")
df_json.write.mode("overwrite").parquet("df_json_to_parquet.parquet")

**Exercise 14:** Read Parquet and write it back as CSV using delimiter "|"

In [ ]:
df_parquet.write.mode("overwrite").option("delimiter", "|").csv("df_parquet_to_csv.csv")

In [52]:
from pyspark.sql.functions import count, sum, avg, min, max

**Exercise 15:** Which cuisine generates the highest order_amount overall?

In [57]:
df.groupBy("cuisine").agg(sum("order_amount").alias("Total")).orderBy("Total", ascending = False).show()

+--------+-----+
| cuisine|Total|
+--------+-----+
|  Indian| 9370|
| Italian| 6490|
|Japanese| 4630|
|American| 3020|
| Chinese| 2980|
| Mexican| 2260|
+--------+-----+

**Exercise 16:** Which city has the highest number of orders?

In [60]:
df.groupBy("city").agg(count("order_id").alias("Number of Orders")).orderBy("Number of Orders", ascending = False).show()

+---------+----------------+
|     city|Number of Orders|
+---------+----------------+
|    Delhi|               9|
|Bangalore|               8|
|   Mumbai|               8|
|Hyderabad|               8|
|  Chennai|               7|
+---------+----------------+

**Exercise 17:** Which payment mode is most frequently used?

In [61]:
df.groupBy("payment_mode").agg(count("payment_mode").alias("Number of Payments")).orderBy("Number of Payments", ascending = False).show()

+------------+------------------+
|payment_mode|Number of Payments|
+------------+------------------+
|         UPI|                17|
|        Card|                11|
|        Cash|                 6|
|      Wallet|                 6|
+------------+------------------+

**Exercise 18:** Why is Parquet the preferred format for analytics platforms like Databricks and BigQuery?[link text](https://)

**Challenge 1:** Repartition the dataset into 4 partitions and write to Parquet.

In [62]:
df.repartition(4).write.mode("overwrite").parquet("df_partition.parquet")

**Challenge 2:** Create a report dataset containing:

* city
* total_orders
* total_revenue

Write it to Parquet.

In [64]:
report = df.groupBy("city").agg(count("order_id").alias("total_orders"), sum("order_amount").alias("total_revenue"))
report.show()

report.write.mode("overwrite").parquet("city_report.parquet")

+---------+------------+-------------+
|     city|total_orders|total_revenue|
+---------+------------+-------------+
|Bangalore|           8|         4630|
|  Chennai|           7|         4350|
|   Mumbai|           8|         8200|
|    Delhi|           9|         5690|
|Hyderabad|           8|         5880|
+---------+------------+-------------+