<a href="https://colab.research.google.com/github/Silvio-0-1/Python-Training/blob/main/15-12-2025/pyspark/exercises/set_2_ex_1_to_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('Read a CSV').getOrCreate()

from pyspark.sql.functions import lit, when, col

In [126]:
data = [
("T001","Amit","Hyderabad","Ramesh","Sedan",12.5,320,28,"UPI","Completed"),
("T002","Neha","Bangalore","Suresh","Mini",8.2,210,22,"Card","Completed"),
("T003","Rahul","Delhi","Anil","Bike",5.1,120,15,"Cash","Completed"),
("T004","Pooja","Mumbai","Vikas","SUV",18.0,560,45,"UPI","Cancelled"),
("T005","Arjun","Chennai","Kumar","Mini",7.8,200,20,"UPI","Completed"),
("T006","Sneha","Hyderabad","Ramesh","Sedan",14.2,360,32,"Card","Completed"),
("T007","Karan","Delhi","Anil","Bike",6.3,140,18,"UPI","Completed"),
("T008","Riya","Bangalore","Suresh","Sedan",11.0,300,27,"Wallet","Completed"),
("T009","Vikas","Mumbai","Vijay","SUV",20.5,650,50,"Card","Completed"),
("T010","Anjali","Chennai","Kumar","Bike",4.9,110,14,"Cash","Completed"),
("T011","Farhan","Delhi","Anil","Mini",9.6,240,25,"UPI","Completed"),
("T012","Megha","Hyderabad","Ramesh","SUV",19.2,610,48,"Card","Cancel"),
("T013","Suresh","Bangalore","Suresh","Sedan",13.0,340,30,"UPI","Completed"),
("T014","Divya","Mumbai","Vikas","Mini",10.2,260,26,"Wallet","Completed"),
("T015","Nikhil","Delhi","Anil","Sedan",15.5,390,34,"UPI","Completed"),
("T016","Kavya","Chennai","Kumar","Sedan",12.1,315,29,"UPI","Completed"),
("T017","Rohit","Hyderabad","Ramesh","SUV",22.0,700,55,"Card","Completed"),
("T018","Simran","Bangalore","Suresh","Bike",5.8,130,16,"Cash","Completed"),
("T019","Ayesha","Mumbai","Vijay","Mini",9.9,250,24,"UPI","Completed"),
("T020","Manish","Delhi","Anil","Bike",6.0,135,17,"Wallet","Completed"),
("T021","Priya","Hyderabad","Ramesh","Sedan",14.8,380,33,"Card","Completed"),
("T022","Yash","Chennai","Kumar","SUV",21.3,680,52,"UPI","Completed"),
("T023","Naina","Bangalore","Suresh","Mini",10.7,270,28,"UPI","Completed"),
("T024","Sameer","Mumbai","Vikas","Sedan",13.9,350,31,"Wallet","Completed"),
("T025","Ritika","Delhi","Anil","Bike",5.4,125,16,"Cash","Completed"),
("T026","Gopal","Hyderabad","Ramesh","Mini",8.9,225,23,"UPI","Completed"),
("T027","Tina","Bangalore","Suresh","Sedan",12.6,330,29,"Card","Completed"),
("T028","Irfan","Mumbai","Vijay","SUV",23.4,740,58,"Card","Completed"),
("T029","Sahil","Chennai","Kumar","Mini",9.4,235,24,"UPI","Completed"),
("T030","Lavanya","Delhi","Anil","Sedan",14.1,365,32,"Wallet","Completed"),
("T031","Deepak","Hyderabad","Ramesh","Bike",6.7,150,18,"Cash","Completed"),
("T032","Shweta","Bangalore","Suresh","Mini",10.0,255,26,"UPI","Completed"),
("T033","Aman","Mumbai","Vikas","Sedan",15.8,395,35,"Card","Completed"),
("T034","Rekha","Chennai","Kumar","Sedan",13.5,345,30,"UPI","Completed"),
("T035","Zubin","Delhi","Anil","SUV",24.0,760,60,"Card","Completed"),
("T036","Pallavi","Hyderabad","Ramesh","Mini",9.1,230,23,"Wallet","Completed"),
("T037","Naveen","Bangalore","Suresh","Bike",5.9,135,17,"UPI","Completed"),
("T038","Sonia","Mumbai","Vijay","SUV",21.7,690,54,"Card","Completed"),
("T039","Harish","Chennai","Kumar","Mini",8.5,215,21,"Cash","Completed"),
("T040","Kriti","Delhi","Anil","Sedan",14.6,375,33,"UPI","Completed"),
("T041","Apoorva","Hyderabad","Ramesh","Sedan",13.2,335,30,"Card","Completed"),
("T042","Mohit","Bangalore","Suresh","SUV",19.9,620,49,"UPI","Completed"),
("T043","Tanvi","Mumbai","Vikas","Mini",10.4,265,27,"Wallet","Completed"),
("T044","Rakesh","Chennai","Kumar","Bike",6.2,140,18,"Cash","Completed"),
("T045","Isha","Delhi","Anil","Mini",9.7,245,25,"UPI","Completed"),
]


columns = [
"trip_id","rider_name","city","driver_name","vehicle_type",
"distance_km","trip_fare","trip_duration_minutes",
"payment_mode","trip_status"
]


df = spark.createDataFrame(data, columns)
df.show()
df.printSchema()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T001|      Amit|Hyderabad|     Ramesh|       Sedan|       12.5|      320|                   28|         UPI|  Completed|
|   T002|      Neha|Bangalore|     Suresh|        Mini|        8.2|      210|                   22|        Card|  Completed|
|   T003|     Rahul|    Delhi|       Anil|        Bike|        5.1|      120|                   15|        Cash|  Completed|
|   T004|     Pooja|   Mumbai|      Vikas|         SUV|       18.0|      560|                   45|         UPI|  Cancelled|
|   T005|     Arjun|  Chennai|      Kumar|        Mini|        7.8|      200|                   20|         UPI|  Completed|
|   T006|     Sneha|Hyderabad|     Ramesh|       Sedan|       14.2|      360|                   32|        Card|  Completed|
|   T007|     Karan|    Delhi|       Anil|        Bike|        6.3|      140|                   18|         UPI|  Completed|
|   T008|      Riya|Bangalore|     Suresh|       Sedan|       11.0|      300|                   27|      Wallet|  Completed|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T010|    Anjali|  Chennai|      Kumar|        Bike|        4.9|      110|                   14|        Cash|  Completed|
|   T011|    Farhan|    Delhi|       Anil|        Mini|        9.6|      240|                   25|         UPI|  Completed|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|     Cancel|
|   T013|    Suresh|Bangalore|     Suresh|       Sedan|       13.0|      340|                   30|         UPI|  Completed|
|   T014|     Divya|   Mumbai|      Vikas|        Mini|       10.2|      260|                   26|      Wallet|  Completed|
|   T015|    Nikhil|    Delhi|       Anil|       Sedan|       15.5|      390|                   34|         UPI|  Completed|
|   T016|     Kavya|  Chennai|      Kumar|       Sedan|       12.1|      315|                   29|         UPI|  Completed|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T018|    Simran|Bangalore|     Suresh|        Bike|        5.8|      130|                   16|        Cash|  Completed|
|   T019|    Ayesha|   Mumbai|      Vijay|        Mini|        9.9|      250|                   24|         UPI|  Completed|
|   T020|    Manish|    Delhi|       Anil|        Bike|        6.0|      135|                   17|      Wallet|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
only showing top 20 rows
root
 |-- trip_id: string (nullable = true)
 |-- rider_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- driver_name: string (nullable = true)
 |-- vehicle_type: string (nullable = true)
 |-- distance_km: double (nullable = true)
 |-- trip_fare: long (nullable = true)
 |-- trip_duration_minutes: long (nullable = true)
 |-- payment_mode: string (nullable = true)
 |-- trip_status: string (nullable = true)

**Exercise 1:** Write the full dataset to CSV with header enabled.

In [127]:
df.write.mode("overwrite").option("header", True).csv("trips_csv.csv")

**Exercise 2:** Read the CSV and filter:

* trip_fare > 400
* trip_status = "Completed"

In [128]:
df = spark.read.option("header", True).csv("trips_csv.csv")
df.filter((col("trip_fare") > 400) & (col("trip_status") == "Completed")).show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

**Exercise 3:** From CSV, select:

1. trip_id
2. city
3. vehicle_type
4. trip_fare

Sort by trip_fare descending.

In [129]:
df.select(col("trip_id"), col("city"), col("vehicle_type"), col("trip_fare")).sort(col("trip_fare").desc()).show()

+-------+---------+------------+---------+
|trip_id|     city|vehicle_type|trip_fare|
+-------+---------+------------+---------+
|   T035|    Delhi|         SUV|      760|
|   T028|   Mumbai|         SUV|      740|
|   T017|Hyderabad|         SUV|      700|
|   T038|   Mumbai|         SUV|      690|
|   T022|  Chennai|         SUV|      680|
|   T009|   Mumbai|         SUV|      650|
|   T042|Bangalore|         SUV|      620|
|   T012|Hyderabad|         SUV|      610|
|   T004|   Mumbai|         SUV|      560|
|   T033|   Mumbai|       Sedan|      395|
|   T015|    Delhi|       Sedan|      390|
|   T021|Hyderabad|       Sedan|      380|
|   T040|    Delhi|       Sedan|      375|
|   T030|    Delhi|       Sedan|      365|
|   T006|Hyderabad|       Sedan|      360|
|   T024|   Mumbai|       Sedan|      350|
|   T034|  Chennai|       Sedan|      345|
|   T013|Bangalore|       Sedan|      340|
|   T041|Hyderabad|       Sedan|      335|
|   T027|Bangalore|       Sedan|      330|
+-------+---------+------------+---------+
only showing top 20 rows

**Exercise 4:** Write only Bike trips to CSV using delimiter "|"

In [130]:
df.filter(col("vehicle_type") == "Bike").write.mode("overwrite").option("header", True).option("delimiter", "|").csv("trips_bike.csv")

**Exercise 5:** Write only trips from Mumbai to JSON.

In [131]:
df.filter(col("city") == "Mumbai").write.mode("overwrite").option("header", True).json("trips.json")

**Exercise 6:** Read JSON and add a column:

*fare_per_km = trip_fare / distance_km*

Write back to JSON.

In [132]:
# read original file in json
df.write.mode("overwrite").option("header", True).json("trips_json.json")
df_json =  spark.read.option("header", True).json("trips_json.json")
df_json.printSchema()

root
 |-- city: string (nullable = true)
 |-- distance_km: string (nullable = true)
 |-- driver_name: string (nullable = true)
 |-- payment_mode: string (nullable = true)
 |-- rider_name: string (nullable = true)
 |-- trip_duration_minutes: string (nullable = true)
 |-- trip_fare: string (nullable = true)
 |-- trip_id: string (nullable = true)
 |-- trip_status: string (nullable = true)
 |-- vehicle_type: string (nullable = true)

In [133]:
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import count, sum, avg, min, max, round

In [134]:
# round and cast are used
df_json.withColumn("fare_per_km", round(col("trip_fare").cast(DoubleType()) / col("distance_km").cast(DoubleType()), 2)).show()

+---------+-----------+-----------+------------+----------+---------------------+---------+-------+-----------+------------+-----------+
|     city|distance_km|driver_name|payment_mode|rider_name|trip_duration_minutes|trip_fare|trip_id|trip_status|vehicle_type|fare_per_km|
+---------+-----------+-----------+------------+----------+---------------------+---------+-------+-----------+------------+-----------+
|Bangalore|       10.7|     Suresh|         UPI|     Naina|                   28|      270|   T023|  Completed|        Mini|      25.23|
|   Mumbai|       13.9|      Vikas|      Wallet|    Sameer|                   31|      350|   T024|  Completed|       Sedan|      25.18|
|    Delhi|        5.4|       Anil|        Cash|    Ritika|                   16|      125|   T025|  Completed|        Bike|      23.15|
|Hyderabad|        8.9|     Ramesh|         UPI|     Gopal|                   23|      225|   T026|  Completed|        Mini|      25.28|
|Bangalore|       12.6|     Suresh|        Card|      Tina|                   29|      330|   T027|  Completed|       Sedan|      26.19|
|   Mumbai|       23.4|      Vijay|        Card|     Irfan|                   58|      740|   T028|  Completed|         SUV|      31.62|
|  Chennai|        9.4|      Kumar|         UPI|     Sahil|                   24|      235|   T029|  Completed|        Mini|       25.0|
|    Delhi|       14.1|       Anil|      Wallet|   Lavanya|                   32|      365|   T030|  Completed|       Sedan|      25.89|
|Hyderabad|        6.7|     Ramesh|        Cash|    Deepak|                   18|      150|   T031|  Completed|        Bike|      22.39|
|Bangalore|       10.0|     Suresh|         UPI|    Shweta|                   26|      255|   T032|  Completed|        Mini|       25.5|
|   Mumbai|       15.8|      Vikas|        Card|      Aman|                   35|      395|   T033|  Completed|       Sedan|       25.0|
|  Chennai|       13.5|      Kumar|         UPI|     Rekha|                   30|      345|   T034|  Completed|       Sedan|      25.56|
|    Delhi|       24.0|       Anil|        Card|     Zubin|                   60|      760|   T035|  Completed|         SUV|      31.67|
|Hyderabad|        9.1|     Ramesh|      Wallet|   Pallavi|                   23|      230|   T036|  Completed|        Mini|      25.27|
|Bangalore|        5.9|     Suresh|         UPI|    Naveen|                   17|      135|   T037|  Completed|        Bike|      22.88|
|   Mumbai|       21.7|      Vijay|        Card|     Sonia|                   54|      690|   T038|  Completed|         SUV|       31.8|
|  Chennai|        8.5|      Kumar|        Cash|    Harish|                   21|      215|   T039|  Completed|        Mini|      25.29|
|    Delhi|       14.6|       Anil|         UPI|     Kriti|                   33|      375|   T040|  Completed|       Sedan|      25.68|
|Hyderabad|       13.2|     Ramesh|        Card|   Apoorva|                   30|      335|   T041|  Completed|       Sedan|      25.38|
|Bangalore|       19.9|     Suresh|         UPI|     Mohit|                   49|      620|   T042|  Completed|         SUV|      31.16|
+---------+-----------+-----------+------------+----------+---------------------+---------+-------+-----------+------------+-----------+
only showing top 20 rows

**Exercise 7:** Filter JSON data:

* payment_mode = "Card"
* vehicle_type = "SUV"

In [135]:
df_json.filter((col("payment_mode") == "Card") & (col("vehicle_type") == "SUV")).show()

+---------+-----------+-----------+------------+----------+---------------------+---------+-------+-----------+------------+
|     city|distance_km|driver_name|payment_mode|rider_name|trip_duration_minutes|trip_fare|trip_id|trip_status|vehicle_type|
+---------+-----------+-----------+------------+----------+---------------------+---------+-------+-----------+------------+
|   Mumbai|       23.4|      Vijay|        Card|     Irfan|                   58|      740|   T028|  Completed|         SUV|
|    Delhi|       24.0|       Anil|        Card|     Zubin|                   60|      760|   T035|  Completed|         SUV|
|   Mumbai|       21.7|      Vijay|        Card|     Sonia|                   54|      690|   T038|  Completed|         SUV|
|   Mumbai|       20.5|      Vijay|        Card|     Vikas|                   50|      650|   T009|  Completed|         SUV|
|Hyderabad|       19.2|     Ramesh|        Card|     Megha|                   48|      610|   T012|     Cancel|         SUV|
|Hyderabad|       22.0|     Ramesh|        Card|     Rohit|                   55|      700|   T017|  Completed|         SUV|
+---------+-----------+-----------+------------+----------+---------------------+---------+-------+-----------+------------+

**Exercise 8:** Force JSON output into a single partition and observe the output structure.

In [136]:
df_json.repartition(1).write.mode("overwrite").json("df_json_partition.json")

**Exercise 9:** Convert full dataset to Parquet.

In [137]:
df.write.mode("overwrite").parquet("trips_parquet.parquet")

**Exercise 10:** Read Parquet and filter:

*trip_duration_minutes > 45*

In [138]:
# read parquet
df_parquet = spark.read.option("header", True).parquet("trips_parquet.parquet")

# filter
df_parquet.filter(col("trip_duration_minutes") > 45).show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|     Cancel|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

**Exercise 11:** Sort Parquet data by distance_km descending and show top 10 trips.

In [139]:
df_parquet.sort(col("distance_km").desc()).limit(10).show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T019|    Ayesha|   Mumbai|      Vijay|        Mini|        9.9|      250|                   24|         UPI|  Completed|
|   T045|      Isha|    Delhi|       Anil|        Mini|        9.7|      245|                   25|         UPI|  Completed|
|   T011|    Farhan|    Delhi|       Anil|        Mini|        9.6|      240|                   25|         UPI|  Completed|
|   T029|     Sahil|  Chennai|      Kumar|        Mini|        9.4|      235|                   24|         UPI|  Completed|
|   T036|   Pallavi|Hyderabad|     Ramesh|        Mini|        9.1|      230|                   23|      Wallet|  Completed|
|   T026|     Gopal|Hyderabad|     Ramesh|        Mini|        8.9|      225|                   23|         UPI|  Completed|
|   T039|    Harish|  Chennai|      Kumar|        Mini|        8.5|      215|                   21|        Cash|  Completed|
|   T002|      Neha|Bangalore|     Suresh|        Mini|        8.2|      210|                   22|        Card|  Completed|
|   T005|     Arjun|  Chennai|      Kumar|        Mini|        7.8|      200|                   20|         UPI|  Completed|
|   T031|    Deepak|Hyderabad|     Ramesh|        Bike|        6.7|      150|                   18|        Cash|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

**Exercise 14:** Write it back as CSV with header and delimiter ",".

In [140]:
df_parquet.write.mode("overwrite").option("delimiter", ",").csv("trips_delimiter_csv.csv")

**Exercise 15:** Which city generates the highest total trip_fare?

In [141]:
df.groupBy("city").agg(sum("trip_fare").alias("Highest Fare")).orderBy("Highest Fare", ascending = False).show()

+---------+------------+
|     city|Highest Fare|
+---------+------------+
|   Mumbai|      4160.0|
|Hyderabad|      3310.0|
|    Delhi|      2895.0|
|Bangalore|      2590.0|
|  Chennai|      2240.0|
+---------+------------+

**Exercise 16:** Which vehicle_type has the highest average fare?

In [142]:
df.groupBy("vehicle_type").agg(round(avg("trip_fare"), 2).alias("Average Fare")).orderBy("Average Fare", ascending = False).show()

+------------+------------+
|vehicle_type|Average Fare|
+------------+------------+
|         SUV|      667.78|
|       Sedan|       350.0|
|        Mini|      238.46|
|        Bike|      131.67|
+------------+------------+

**Exercise 17:** Which driver has completed the most trips?

In [143]:
df.groupBy("driver_name").agg(count("trip_id").alias("Number of Trips")).orderBy("Number of Trips", ascending = False).show()

+-----------+---------------+
|driver_name|Number of Trips|
+-----------+---------------+
|       Anil|             10|
|     Ramesh|              9|
|     Suresh|              9|
|      Kumar|              8|
|      Vikas|              5|
|      Vijay|              4|
+-----------+---------------+

**Exercise 18:** Why is Parquet preferred for analytics dashboards and aggregations?

Parquet is preferred for **analytics dashboards and aggregations** because:

1.  **Columnar Format** – Aggregations (like SUM, AVG, COUNT) typically operate on specific columns. Parquet reads only those columns instead of entire rows, reducing I/O.
2.  **Compression & Encoding** – Smaller size means faster data transfer and lower storage costs.
3.  **Predicate Pushdown** – Filters are applied at the storage level, so dashboards load faster by scanning less data.
4.  **Optimized for Parallel Processing** – Works efficiently with distributed engines (Spark, Presto, BigQuery), which dashboards often rely on.
5.  **Schema Evolution** – Handles complex and evolving data structures, useful for dynamic dashboards.

**Challenge 2:** Create a summary dataset with:

1. city
2. total_trips
3. total_revenue
4. average_trip_duration

In [144]:
df.groupBy("city").agg(count("trip_id").alias("total_trips"), sum("trip_fare").alias("total_revenue"), round(avg("trip_duration_minutes"), 2).alias("average_trip_duration")).show()

+---------+-----------+-------------+---------------------+
|     city|total_trips|total_revenue|average_trip_duration|
+---------+-----------+-------------+---------------------+
|Bangalore|          9|       2590.0|                27.11|
|  Chennai|          8|       2240.0|                 26.0|
|   Mumbai|          9|       4160.0|                38.89|
|    Delhi|         10|       2895.0|                 27.5|
|Hyderabad|          9|       3310.0|                32.22|
+---------+-----------+-------------+---------------------+