<a href="https://colab.research.google.com/github/Silvio-0-1/Python-Training/blob/main/12-12-2025/pyspark/exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [209]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('exercises').getOrCreate()

In [210]:
from pyspark.sql.functions import lit, when, col, upper, substring, concat
from pyspark.sql.functions import count, sum, avg, min, max

In [211]:
data = [
("C001", "Arjun", "Hyderabad", 25, 45000, "Electronics"),
("C002", "Meera", "Chennai", 32, 52000, "Grocery"),
("C003", "Rajesh", "Bangalore", 29, 61000, "Clothing"),
("C004", "Priya", "Delhi", 22, 38000, "Grocery"),
("C005", "Sanjay", "Mumbai", 35, 72000, "Electronics"),
("C006", "Kavya", "Hyderabad", 28, 48000, "Grocery"),
("C007", "Imran", "Delhi", 31, 53000, "Clothing"),
("C008", "Divya", "Chennai", 27, 45000, "Electronics"),
("C009", "Anil", "Bangalore", 40, 85000, "Furniture"),
("C010", "Ritu", "Mumbai", 23, 39000, "Clothing"),
("C011", "Hari", "Hyderabad", 33, 56000, "Grocery"),
("C012", "Sana", "Delhi", 26, 47000, "Electronics"),
("C013", "Vikram", "Chennai", 38, 91000, "Furniture"),
("C014", "Deepa", "Mumbai", 30, 62000, "Clothing"),
("C015", "Asha", "Bangalore", 24, 41000, "Grocery"),
("C016", "Kiran", "Delhi", 29, 59000, "Furniture"),
("C017", "Farah", "Hyderabad", 36, 70000, "Clothing"),
("C018", "Tarun", "Chennai", 28, 53000, "Furniture"),
("C019", "Nisha", "Mumbai", 21, 35000, "Grocery"),
("C020", "Yusuf", "Bangalore", 34, 76000, "Electronics"),
("C021", "Pooja", "Delhi", 27, 47000, "Clothing"),
("C022", "Zara", "Hyderabad", 32, 58000, "Grocery"),
("C023", "Ajay", "Chennai", 30, 51000, "Furniture"),
("C024", "Reema", "Bangalore", 28, 49000, "Clothing"),
("C025", "Gautam", "Mumbai", 39, 82000, "Furniture"),
("C026", "Swati", "Delhi", 25, 46000, "Electronics"),
("C027", "Mahesh", "Hyderabad", 41, 90000, "Furniture"),
("C028", "Anita", "Chennai", 26, 44000, "Clothing"),
("C029", "Sameer", "Bangalore", 33, 68000, "Electronics"),
("C030", "Leela", "Delhi", 22, 36000, "Grocery")
]


columns = ["customer_id", "name", "city", "age", "annual_spend", "categories"]

df = spark.createDataFrame(data, columns)
df.show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend| categories|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
+-----------+------+---------+---+------------+-----------+
only showing top 20 rows

**Exercise 1:** Show the first 10 customers.

In [212]:
df.show(10)

# df.limit(10).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend| categories|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
+-----------+------+---------+---+------------+-----------+
only showing top 10 rows

**Exercise 2:** List all unique cities.

In [213]:
df.select("city").distinct().show()

+---------+
|     city|
+---------+
|Bangalore|
|  Chennai|
|   Mumbai|
|    Delhi|
|Hyderabad|
+---------+

**Exercise 3:** Display only customer_id, name, and annual_spend columns.

In [214]:
df.select(col("customer_id"), col("name"), col("annual_spend")).show()

+-----------+------+------------+
|customer_id|  name|annual_spend|
+-----------+------+------------+
|       C001| Arjun|       45000|
|       C002| Meera|       52000|
|       C003|Rajesh|       61000|
|       C004| Priya|       38000|
|       C005|Sanjay|       72000|
|       C006| Kavya|       48000|
|       C007| Imran|       53000|
|       C008| Divya|       45000|
|       C009|  Anil|       85000|
|       C010|  Ritu|       39000|
|       C011|  Hari|       56000|
|       C012|  Sana|       47000|
|       C013|Vikram|       91000|
|       C014| Deepa|       62000|
|       C015|  Asha|       41000|
|       C016| Kiran|       59000|
|       C017| Farah|       70000|
|       C018| Tarun|       53000|
|       C019| Nisha|       35000|
|       C020| Yusuf|       76000|
+-----------+------+------------+
only showing top 20 rows

**Exercise 4:** Filter all customers who spend more than 60000 annually.

In [215]:
df.filter(col("annual_spend") > 6000).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend| categories|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
+-----------+------+---------+---+------------+-----------+
only showing top 20 rows

**Exercise 5:** Show all customers from Delhi who are younger than 30.

In [216]:
df.filter((col("city") == "Delhi") & (col("age") < 30)).show()

+-----------+-----+-----+---+------------+-----------+
|customer_id| name| city|age|annual_spend| categories|
+-----------+-----+-----+---+------------+-----------+
|       C004|Priya|Delhi| 22|       38000|    Grocery|
|       C012| Sana|Delhi| 26|       47000|Electronics|
|       C016|Kiran|Delhi| 29|       59000|  Furniture|
|       C021|Pooja|Delhi| 27|       47000|   Clothing|
|       C026|Swati|Delhi| 25|       46000|Electronics|
|       C030|Leela|Delhi| 22|       36000|    Grocery|
+-----------+-----+-----+---+------------+-----------+

**Exercise 6:** Create a new column named:

*"spend_in_lakh" = annual_spend / 100000*.

In [217]:
df.withColumn("spend_in_lakh", col("annual_spend")/100000).show()

+-----------+------+---------+---+------------+-----------+-------------+
|customer_id|  name|     city|age|annual_spend| categories|spend_in_lakh|
+-----------+------+---------+---+------------+-----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|         0.45|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|         0.52|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|         0.61|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|         0.38|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|         0.72|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|         0.48|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|         0.53|
|       C008| Divya|  Chennai| 27|       45000|Electronics|         0.45|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|         0.85|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|         0.39|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|         0.56|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|         0.47|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|         0.91|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|         0.62|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|         0.41|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|         0.59|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|          0.7|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|         0.53|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|         0.35|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|         0.76|
+-----------+------+---------+---+------------+-----------+-------------+
only showing top 20 rows

**Exercise 7:** Create a new column "customer_type"

**Logic:**

1. spend > 70000 → Premium
2. else → Standard

In [218]:
df.withColumn("customer_type", when(col("annual_spend") > 70000, "Premium").otherwise("Standard")).show()

+-----------+------+---------+---+------------+-----------+-------------+
|customer_id|  name|     city|age|annual_spend| categories|customer_type|
+-----------+------+---------+---+------------+-----------+-------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|     Standard|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|     Standard|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|     Standard|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|     Standard|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|      Premium|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|     Standard|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|     Standard|
|       C008| Divya|  Chennai| 27|       45000|Electronics|     Standard|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|      Premium|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|     Standard|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|     Standard|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|     Standard|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|      Premium|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|     Standard|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|     Standard|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|     Standard|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|     Standard|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|     Standard|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|     Standard|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|      Premium|
+-----------+------+---------+---+------------+-----------+-------------+
only showing top 20 rows

**Exercise 8:** Show customers whose name starts with the letter A.

In [219]:
df.filter(col("name").startswith("A")).show()

+-----------+-----+---------+---+------------+-----------+
|customer_id| name|     city|age|annual_spend| categories|
+-----------+-----+---------+---+------------+-----------+
|       C001|Arjun|Hyderabad| 25|       45000|Electronics|
|       C009| Anil|Bangalore| 40|       85000|  Furniture|
|       C015| Asha|Bangalore| 24|       41000|    Grocery|
|       C023| Ajay|  Chennai| 30|       51000|  Furniture|
|       C028|Anita|  Chennai| 26|       44000|   Clothing|
+-----------+-----+---------+---+------------+-----------+

**Exercise 9:** Filter customers where category is either Clothing or Electronics.

In [220]:
df.filter(col("categories").isin('Clothing', 'Electronics')).show()

# df.filter((df.categories  == "Electronics") | (df.categories  == "Clothing")).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend| categories|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
|       C021| Pooja|    Delhi| 27|       47000|   Clothing|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|
|       C026| Swati|    Delhi| 25|       46000|Electronics|
|       C028| Anita|  Chennai| 26|       44000|   Clothing|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|
+-----------+------+---------+---+------------+-----------+

**Exercise 10:** Convert the city name to uppercase.

In [221]:
df.withColumn("city", upper(col("city"))).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend| categories|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|HYDERABAD| 25|       45000|Electronics|
|       C002| Meera|  CHENNAI| 32|       52000|    Grocery|
|       C003|Rajesh|BANGALORE| 29|       61000|   Clothing|
|       C004| Priya|    DELHI| 22|       38000|    Grocery|
|       C005|Sanjay|   MUMBAI| 35|       72000|Electronics|
|       C006| Kavya|HYDERABAD| 28|       48000|    Grocery|
|       C007| Imran|    DELHI| 31|       53000|   Clothing|
|       C008| Divya|  CHENNAI| 27|       45000|Electronics|
|       C009|  Anil|BANGALORE| 40|       85000|  Furniture|
|       C010|  Ritu|   MUMBAI| 23|       39000|   Clothing|
|       C011|  Hari|HYDERABAD| 33|       56000|    Grocery|
|       C012|  Sana|    DELHI| 26|       47000|Electronics|
|       C013|Vikram|  CHENNAI| 38|       91000|  Furniture|
|       C014| Deepa|   MUMBAI| 30|       62000|   Clothing|
|       C015|  Asha|BANGALORE| 24|       41000|    Grocery|
|       C016| Kiran|    DELHI| 29|       59000|  Furniture|
|       C017| Farah|HYDERABAD| 36|       70000|   Clothing|
|       C018| Tarun|  CHENNAI| 28|       53000|  Furniture|
|       C019| Nisha|   MUMBAI| 21|       35000|    Grocery|
|       C020| Yusuf|BANGALORE| 34|       76000|Electronics|
+-----------+------+---------+---+------------+-----------+
only showing top 20 rows

**Exercise 11:** Remove the category column from the DataFrame.

In [222]:
df.drop("categories").show()

+-----------+------+---------+---+------------+
|customer_id|  name|     city|age|annual_spend|
+-----------+------+---------+---+------------+
|       C001| Arjun|Hyderabad| 25|       45000|
|       C002| Meera|  Chennai| 32|       52000|
|       C003|Rajesh|Bangalore| 29|       61000|
|       C004| Priya|    Delhi| 22|       38000|
|       C005|Sanjay|   Mumbai| 35|       72000|
|       C006| Kavya|Hyderabad| 28|       48000|
|       C007| Imran|    Delhi| 31|       53000|
|       C008| Divya|  Chennai| 27|       45000|
|       C009|  Anil|Bangalore| 40|       85000|
|       C010|  Ritu|   Mumbai| 23|       39000|
|       C011|  Hari|Hyderabad| 33|       56000|
|       C012|  Sana|    Delhi| 26|       47000|
|       C013|Vikram|  Chennai| 38|       91000|
|       C014| Deepa|   Mumbai| 30|       62000|
|       C015|  Asha|Bangalore| 24|       41000|
|       C016| Kiran|    Delhi| 29|       59000|
|       C017| Farah|Hyderabad| 36|       70000|
|       C018| Tarun|  Chennai| 28|       53000|
|       C019| Nisha|   Mumbai| 21|       35000|
|       C020| Yusuf|Bangalore| 34|       76000|
+-----------+------+---------+---+------------+
only showing top 20 rows

**Exercise 12:** Sort customers by age in descending order.

In [223]:
df.sort(col("age").desc()).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend| categories|
+-----------+------+---------+---+------------+-----------+
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|
|       C029|Sameer|Bangalore| 33|       68000|Electronics|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|
|       C022|  Zara|Hyderabad| 32|       58000|    Grocery|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|
|       C023|  Ajay|  Chennai| 30|       51000|  Furniture|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
+-----------+------+---------+---+------------+-----------+
only showing top 20 rows

**Exercise 13:** Find customers who are younger than the average age of the entire dataset.

**Steps:**
1. Calculate average age.
2. Filter df where age < avg_age.

In [224]:
avg_age_value = df.agg(avg(col("age"))).collect()[0][0]
df.filter(col("age") < avg_age_value).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend| categories|
+-----------+------+---------+---+------------+-----------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|
|       C008| Divya|  Chennai| 27|       45000|Electronics|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|
|       C021| Pooja|    Delhi| 27|       47000|   Clothing|
|       C024| Reema|Bangalore| 28|       49000|   Clothing|
|       C026| Swati|    Delhi| 25|       46000|Electronics|
|       C028| Anita|  Chennai| 26|       44000|   Clothing|
|       C030| Leela|    Delhi| 22|       36000|    Grocery|
+-----------+------+---------+---+------------+-----------+

**Exercise 14:** Display the top 5 highest spending customers.

In [225]:
df.sort(col("annual_spend").desc()).limit(5).show()

+-----------+------+---------+---+------------+-----------+
|customer_id|  name|     city|age|annual_spend| categories|
+-----------+------+---------+---+------------+-----------+
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|
|       C027|Mahesh|Hyderabad| 41|       90000|  Furniture|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|
|       C025|Gautam|   Mumbai| 39|       82000|  Furniture|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|
+-----------+------+---------+---+------------+-----------+

**Exercise 15:** Create a new DataFrame containing only customers from Mumbai.

In [226]:
df.filter(col("city") == "Mumbai").show()

+-----------+------+------+---+------------+-----------+
|customer_id|  name|  city|age|annual_spend| categories|
+-----------+------+------+---+------------+-----------+
|       C005|Sanjay|Mumbai| 35|       72000|Electronics|
|       C010|  Ritu|Mumbai| 23|       39000|   Clothing|
|       C014| Deepa|Mumbai| 30|       62000|   Clothing|
|       C019| Nisha|Mumbai| 21|       35000|    Grocery|
|       C025|Gautam|Mumbai| 39|       82000|  Furniture|
+-----------+------+------+---+------------+-----------+

**Bonus Exercise 1:** Extract the first letter of each name and store in a new column.

In [227]:
df.withColumn("first_letter", substring(col("name"), 1, 1)).show()

+-----------+------+---------+---+------------+-----------+------------+
|customer_id|  name|     city|age|annual_spend| categories|first_letter|
+-----------+------+---------+---+------------+-----------+------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|           A|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|           M|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|           R|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|           P|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|           S|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|           K|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|           I|
|       C008| Divya|  Chennai| 27|       45000|Electronics|           D|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|           A|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|           R|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|           H|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|           S|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|           V|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|           D|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|           A|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|           K|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|           F|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|           T|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|           N|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|           Y|
+-----------+------+---------+---+------------+-----------+------------+
only showing top 20 rows

**Bonus Exercise 2:** Mask the customer_id.

**Example:** C001 → ***01

In [228]:
df.withColumn("masked_customer_id", concat(lit("***"), substring(col("customer_id"), 3, 2))).show()

+-----------+------+---------+---+------------+-----------+------------------+
|customer_id|  name|     city|age|annual_spend| categories|masked_customer_id|
+-----------+------+---------+---+------------+-----------+------------------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|             ***01|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|             ***02|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|             ***03|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|             ***04|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|             ***05|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|             ***06|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|             ***07|
|       C008| Divya|  Chennai| 27|       45000|Electronics|             ***08|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|             ***09|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|             ***10|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|             ***11|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|             ***12|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|             ***13|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|             ***14|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|             ***15|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|             ***16|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|             ***17|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|             ***18|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|             ***19|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|             ***20|
+-----------+------+---------+---+------------+-----------+------------------+
only showing top 20 rows

**Bonus Exercise 3:** Create a new boolean column "is_senior" where age > 35.

In [229]:
df.withColumn("is_senior", col("age") > 35).show()

# df.withColumn("is_senior", when(col("age") > 35, True).otherwise(False)).show()

+-----------+------+---------+---+------------+-----------+---------+
|customer_id|  name|     city|age|annual_spend| categories|is_senior|
+-----------+------+---------+---+------------+-----------+---------+
|       C001| Arjun|Hyderabad| 25|       45000|Electronics|    false|
|       C002| Meera|  Chennai| 32|       52000|    Grocery|    false|
|       C003|Rajesh|Bangalore| 29|       61000|   Clothing|    false|
|       C004| Priya|    Delhi| 22|       38000|    Grocery|    false|
|       C005|Sanjay|   Mumbai| 35|       72000|Electronics|    false|
|       C006| Kavya|Hyderabad| 28|       48000|    Grocery|    false|
|       C007| Imran|    Delhi| 31|       53000|   Clothing|    false|
|       C008| Divya|  Chennai| 27|       45000|Electronics|    false|
|       C009|  Anil|Bangalore| 40|       85000|  Furniture|     true|
|       C010|  Ritu|   Mumbai| 23|       39000|   Clothing|    false|
|       C011|  Hari|Hyderabad| 33|       56000|    Grocery|    false|
|       C012|  Sana|    Delhi| 26|       47000|Electronics|    false|
|       C013|Vikram|  Chennai| 38|       91000|  Furniture|     true|
|       C014| Deepa|   Mumbai| 30|       62000|   Clothing|    false|
|       C015|  Asha|Bangalore| 24|       41000|    Grocery|    false|
|       C016| Kiran|    Delhi| 29|       59000|  Furniture|    false|
|       C017| Farah|Hyderabad| 36|       70000|   Clothing|     true|
|       C018| Tarun|  Chennai| 28|       53000|  Furniture|    false|
|       C019| Nisha|   Mumbai| 21|       35000|    Grocery|    false|
|       C020| Yusuf|Bangalore| 34|       76000|Electronics|    false|
+-----------+------+---------+---+------------+-----------+---------+
only showing top 20 rows

**Bonus Exercise 4:** Count number of customers per city.

In [230]:
df.groupBy("city").agg(count(col("customer_id"))).show()

+---------+------------------+
|     city|count(customer_id)|
+---------+------------------+
|Bangalore|                 6|
|  Chennai|                 6|
|   Mumbai|                 5|
|    Delhi|                 7|
|Hyderabad|                 6|
+---------+------------------+